In [3]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

In [13]:
driver=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'

In [51]:
type(url)

str

In [103]:
driver.get(url)

In [108]:
# Extracting top 30 most viewed videos on youtube from wikipedia
from selenium.common.exceptions import NoSuchElementException
searchbar=driver.find_element_by_id('searchInput')
searchbar.send_keys('most viewed youtube videos')
search=driver.find_element_by_id('searchButton')
search.click()
rank=[]
Video_name=[]
artist=[]
views=[]
upload_date=[]
for i in range(1,31):
# Extracting rank details from x path
    try:
        d1=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr[{}]//td[1]".format(i))
        rank.append(d1.text)
    except NoSuchElementException:
        d2=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")
        rank.append(d2.text)
# Extracting video name from x path
    try:
        d3=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr[{}]//td[2]".format(i))
        Video_name.append(d3.text)
    except NoSuchElementException:
        d4=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")
        Video_name.append(d4.text)
# Extracting artist details from xpath
    try:
        d5=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr[{}]//td[3]".format(i))
        artist.append(d5.text)
    except NoSuchElementException:
        d6=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")
        artist.append(d6.text)
#Extracting views from xpath
    try:
        d7=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr[{}]//td[4]".format(i))
        views.append(d7.text)
    except NoSuchElementException:
        d8=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")
        views.append(d8.text)
# Extracting upload_date from xpath
    try:
        d9=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr[{}]//td[5]".format(i))
        upload_date.append(d9.text)
    except NoSuchElementException:
        d10=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")
        upload_date.append(d10.text)

In [114]:
df=pd.DataFrame({})
df['rank']=rank
df['name']=Video_name
df['artist']=artist
df['views in billions']=views
df['upload_date']=upload_date

In [115]:
df

,rank,name,artist,views in billions,upload_date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.71,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.38,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.41,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.19,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.12,"February 27, 2018"
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.10,"May 2, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.90,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.37,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.26,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.07,"December 3, 2015"
19,20.,"""Shake It Off""[45]",Taylor Swift,3.06,"August 18, 2014"
20,21.,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,3.05,"May 24, 2018"
21,22.,"""Lean On""[47]",Major Lazer,3.04,"March 22, 2015"
22,23.,"""Bailando""[48]",Enrique Iglesias,3.04,"April 11, 2014"
23,24.,"""Girls Like You""[49]",Maroon 5,3.04,"May 31, 2018"
24,25.,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.92,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
27,28.,"""Hello""[53]",Adele,2.84,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.82,"June 16, 2009"

# Question 1 completed

# Question 2 started

In [33]:
driver1=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [34]:
from selenium.common.exceptions import NoSuchElementException
url='https://www.bcci.tv/'
driver1.get(url)

In [35]:
# Extracting details from international fixture through code
fixture=driver1.find_element_by_xpath("//div[@class='drop-down__options']//ul//li//a")
driver1.get(fixture.get_attribute('href'))
match_title=[]
series=[]
place=[]
date=[]
time=[]
title=driver1.find_elements_by_xpath("//p[@class='fixture__additional-info']//strong")
# Extracting title from xpath
for i in title:
    try:
        match_title.append(i.text)
    except NoSuchElementException:
        match_title.append('-')
# Extracting series details from xpath
ser=driver1.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for j in ser:
    try:
        series.append(j.text)
    except NoSuchElementException:
        series.append('-')
# Extracting place details from xpath
plc=driver1.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
for k in plc:
    try:
        place.append(k.text)
    except NoSuchElementException:
        place.append('-')
#Extracting date from xpath
dt=driver1.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']//strong")
for l in dt:
    try:
        date.append(l.text)
    except NoSuchElementException:
        date.append('-')
#Extracting time from xpath
tim=driver1.find_elements_by_xpath("//span[@class='fixture__time']")
for o in tim:
    try:
        time.append(o.text)
    except NoSuchElementException:
        time.append('-')

In [39]:
df1=pd.DataFrame({})
df1['Title']=match_title
df1['series']=series
df1['place']=place
df1['date']=date
df1['time']=time

In [40]:
df1

,Title,series,place,date,time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",,15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",,15:30 IST

# Question 2 completed

In [13]:
import time

In [21]:
#Activating chrome browser
driver2=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [22]:
#Opening homepage of guru99.com
urls='https://www.guru99.com/'
driver2.get(urls)

In [23]:
from selenium.common.exceptions import NoSuchElementException
details=driver2.find_element_by_xpath("//div[@class='col-md-3']//ul//li[3]//a") # extracting xpath of the selenium from the webpage
driver2.get(details.get_attribute('href')) # extracting url of selenium from the webpage
time.sleep(10)
details1=driver2.find_element_by_xpath("//table[@class='table'][5]//tbody//tr[34]//a") # Extracting xpath of things one is looking for i.e Selenium Exception Handling
driver2.get(details1.get_attribute('href')) # extracting url of Selenium Exceptonal handling from the webpage
Exception_name=[] # empty list created for fetching the records of exception name
Description=[] # empty list created for fetching the description details 
for i in range(2,43):
    try:
        # Extracting exception_name from xpath
        name=driver2.find_element_by_xpath("//table[@class='table table-striped']//tbody//tr[{}]//td".format(i))
        Exception_name.append(name.text)
    except NoSuchElementException:
        Exception_name.append('-')
        # Extracting Description details against the exception_name from xpath
    try:
        descri=driver2.find_element_by_xpath("//table[@class='table table-striped']//tbody//tr[{}]//td[2]".format(i))
        Description.append(descri.text)
    except NoSuchElementException:
        Description.append('-')

In [25]:
df2=pd.DataFrame({})
df2['name']=Exception_name
df2['Description']=Description

In [26]:
df2

,name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Question 3 completed

In [30]:
#Activating chrome browser
driver3=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [31]:
#Opening homepage of statisticstimes.com
urls='https://statisticstimes.com/'
driver3.get(urls)

In [45]:
from selenium.common.exceptions import NoSuchElementException
# Extracting xpath of economy header
det=driver3.find_element_by_xpath("//div[@class='navbar']//div[2]//div//a[3]")
driver3.get(det.get_attribute('href')) # Extracting url of economy header
time.sleep(10)
# Extracting xpath of GDP state wise
gdp=driver3.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li//a")
driver3.get(gdp.get_attribute('href')) # Extracting url of state wise gdp
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share_18_19=[]
GDP=[]
for i in range(1,34):
    # Extractiong out rank details state wise from xpath
    try:
        ra=driver3.find_element_by_xpath("//table[@id='table_id']//tbody//tr[{}]//td[1]".format(i))
        Rank.append(ra.text)
    except NoSuchElementException:
        Rank.append('-')
    # Extracting out state information from xpath 
    try:
        st=driver3.find_element_by_xpath("//table[@id='table_id']//tbody//tr[{}]//td[2]".format(i))
        State.append(st.text)
    except NoSuchElementException:
        State.append('-')
    #Extracting out GSDP 19-20 at current price form xpath
    try:
        gsd1=driver3.find_element_by_xpath("//table[@id='table_id']//tbody//tr[{}]//td[3]".format(i))
        GSDP_19_20.append(gsd1.text)
    except NoSuchElementException:
        GSDP_19_20.append('-')
    #Extracting out GSDP 18-19 at current price form xpath
    try:
        gsd2=driver3.find_element_by_xpath("//table[@id='table_id']//tbody//tr[{}]//td[4]".format(i))
        GSDP_18_19.append(gsd2.text)
    except NoSuchElementException:
        GSDP_18_19.append('-')
    # Extracting out Share(18-19) details from xpath
    try:
        sh=driver3.find_element_by_xpath("//table[@id='table_id']//tbody//tr[{}]//td[5]".format(i))
        Share_18_19.append(sh.text)
    except NoSuchElementException:
         Share_18_19.append('-')
    #Extracting out GDP details from x path
    try:
         gdp =driver3.find_element_by_xpath("//table[@id='table_id']//tbody//tr[{}]//td[6]".format(i))
         GDP.append(gdp.text)
    except NoSuchElementException:
        GDP.append('-')

In [55]:
df3=pd.DataFrame({})
df3['Rank']=Rank
df3['State']=State
df3['GSDP(19-20)']=GSDP_19_20
df3['GSDP(18-19)']=GSDP_18_19
df3['Share(18-19)']=Share_18_19
df3['GDP($billion)']=GDP

In [56]:
df3

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question 4 completed

In [6]:
#Activating chrome browser
driver4=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [7]:
#Opening homepage of github.com
urls='https://github.com/'
driver4.get(urls)

In [8]:
from selenium.common.exceptions import NoSuchElementException
# Extracting out xpath of Trending topics
det=driver4.find_element_by_xpath("//ul[@class='list-style-none mb-3']//li[3]//a")
driver4.get(det.get_attribute('href')) # Extracting out URL of trending topics
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]
bucket=[]
# Extracting out URl of all the trending topics:
ur1=driver4.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")
for i in ur1:
    bucket.append(i.get_attribute('href'))#appending the urls in bucket which is a blank list
for urls1 in bucket:
    driver4.get(urls1) # extracting out details one by one from xpath
# Extracting Repository title from x path    
    try:
        rep=driver4.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']//a")
        Repository_title.append(rep.text)
    except NoSuchElementException:
        Repository_title.append('-')
# Extracting Repository description from x path
    try:
        red=driver4.find_element_by_xpath("//div[@class='BorderGrid-cell']//p")
        Repository_description.append(red.text)
    except NoSuchElementException:
        Repository_description.append('-')
# EXtracting Contributors count from xpath
    try:
      count=driver4.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
      Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append('-')
# Extracting language from xpath
    try:
        lan=driver4.find_element_by_xpath("//li[@class='d-inline']//span")
        Language_used.append(lan.text)
    except NoSuchElementException:
        Language_used.append('-')

In [12]:
Language_used

['Shell',
 'Haskell',
 'Vim script',
 'Python',
 'HTML',
 'C',
 'JavaScript',
 'Swift',
 'Python',
 'Python',
 '-',
 '-',
 'C++',
 '-',
 '-',
 'JavaScript',
 '-',
 'Python',
 '-',
 'Emacs Lisp',
 'TypeScript',
 'C',
 'JavaScript',
 'Rust']

In [14]:
df4=pd.DataFrame({})
df4['Repository title']=Repository_title
df4['Repository Description']=Repository_description
df4['Contributors count']=Contributors_count
df4['Language used']=Language_used

In [15]:
df4

,Repository title,Repository Description,Contributors count,Language used
0,Paper,High performance Spigot fork that aims to fix ...,245,Shell
1,graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",357,Haskell
2,neovim,Vim-fork focused on extensibility and usability,667,Vim script
3,nd064_course_1,-,2,Python
4,alpine,"A rugged, minimal framework for composing Java...",127,HTML
5,chia-plotter,-,18,C
6,iptv,Collection of publicly available IPTV channels...,84,JavaScript
7,The-OldOS-Project,Recreating a fully functional version of iOS 4...,5,Swift
8,youtube-dl,Command-line program to download videos from Y...,768,Python
9,wtv,解决电脑、手机看电视直播的苦恼，收集各种直播源，电视直播网站,-,Python
10,Applied-Deep-Learning,Applied Deep Learning,-,-
11,coding-interview-university,A complete computer science study plan to beco...,197,-
12,alien,alien is a GPU-accelerated artificial life sim...,-,C++
13,DSA-Training-2021,-,5,-
14,QuantumultX,脚本，自用,-,-
15,Bootstrap-5-portfolio-template,Learning Bootstrap 5 with SASS,-,JavaScript
16,500-AI-Machine-learning-Deep-learning-Computer...,500 AI Machine learning Deep learning Computer...,-,-
17,jina,An easier way to build neural search on the cloud,97,Python
18,free-programming-books,📚 Freely available programming books,"1,617",-
19,doom-emacs,An Emacs framework for the stubborn martian ha...,463,Emacs Lisp
20,tiktok-scraper,"TikTok Scraper. Download video posts, collect ...",21,TypeScript
21,scrcpy,Display and control your Android device,68,C
22,atom,The hackable text editor,479,JavaScript
23,nushell,A new type of shell,228,Rust

# Question 5 completed

In [6]:
#Activating chrome browser
driver5=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [17]:
#Opening homepage of billboard.com
urls='https://www.billboard.com/'
driver5.get(urls)
details=driver5.find_element_by_xpath("//ul[@class='header__submenu__list']//li//a") # Extracting xpath of Hot 100 songs from chart option
driver5.get(details.get_attribute('href')) # Extracting url of hot 100 songs
song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]
# Extracting out song name from xpath
try:
    son=driver5.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in son:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('-')
#Extracting out artist name from xpath
try:
    arn=driver5.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for j in arn:
        Artist_name.append(j.text)
except NoSuchElementException:
    Artist_name.append('-')
#Extracting out last week rank from xpath
try:
    lasw=driver5.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for k in lasw:
        Last_week_rank.append(k.text)
except NoSuchElementException:
    Last_week_rank.append('-')
#Extracting out peak from xpath
try:
    pk=driver5.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for l in pk:
        Peak_rank.append(l.text)
except NoSuchElementException:
    Peak_rank.append('-')
#Extracting out weeks on chart from xpath
try:
    woc=driver5.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for m in woc:
        Weeks_on_board.append(m.text)
except NoSuchElementException:
    Weeks_on_board.append('-')

In [19]:
df3=pd.DataFrame({})
df3['song name']=song_name
df3['artist name']=Artist_name
df3['Last week']=Last_week_rank
df3['Peak']=Peak_rank
df3['WKS on chart']=Weeks_on_board

In [20]:
df3

,song name,artist name,Last week,Peak,WKS on chart
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

# Question 6 completed

In [4]:
#Activating chrome browser
driver6=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [8]:
# Extracting data from first page of naukri.com
from selenium.common.exceptions import NoSuchElementException
#Opening homepage of naukri.com
urls='https://www.naukri.com/'
driver6.get(urls)
det=driver6.find_element_by_xpath("//div[@class='subMenu']//ul//li//a") # Extracting the xpath of Browse all recruiters
driver6.get(det.get_attribute('href'))
# Extracting xpath of the search panel
search=driver6.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data Science') # Looking for Data Science job position
click=driver6.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
click.click()
name=[]
Designation=[]
Company=[]
Skills=[]
# Extracting out recruiter name from xpath
try:
    na=driver6.find_elements_by_xpath("//p[@class='highlightable']//a//span")
    for j in na:
            name.append(j.text)
except NoSuchElementException:
        name.append('-')
#Extracting out recruiter designation from xpath
try:
    des=driver6.find_elements_by_xpath("//span[@class='ellipsis clr']")
    for k in des:
            Designation.append(k.text)
except NoSuchElementException:
        Designation.append('-')
# Extracting out Company name from xpath
try:
    com=driver6.find_elements_by_xpath("//p[@class='highlightable']//a[2]")
    for n in com:
             Company.append(n.text)
except NoSuchELementException:
         Company.append('-')
#Extracting out skills from xpath
try:
    Ski=driver6.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for p in Ski:
            Skills.append(p.text)
except NoSuchElementException:
        Skills.append('-')
soup=BeautifulSoup(driver6.page_source,'html.parser')
location=[]
l=soup.find_all('div',class_='vcard')
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
            location.append("No details available")

In [10]:
df7=pd.DataFrame({})
df7['name']=name
df7['Designation']=Designation
df7['Company']=Company
df7['location']=location

In [11]:
df7

,name,Designation,Company,location
0,Aakash Harit,HR Manager,Data Science Network,Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore
25,kumar,Proprietor,trainin,Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,No details available
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,Noida
34,Amit Sharma,Consultant,ASCO consulting,New Delhi
35,Kanan,senior technology instructor,NY INST,Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,No details available
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai

# Question 7 completed

In [55]:
#Activating chrome browser
driver7=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [64]:
#Opening homepage of gaurdian.com
urls='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver7.get(urls)
Book_Name=[]
Author_Name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]
for i in range(0,100):
# Extracting book name from xpath
    try:
        bok=driver7.find_element_by_xpath("//td[@id='table-cell-10943-{}-1']".format(i))
        Book_Name.append(bok.text)
    except NoSuchElementException:
        Book_Name.append('-')
#Extracting Author name from xpath
    try:
        aut=driver7.find_element_by_xpath("//td[@id='table-cell-10943-{}-2']".format(i))
        Author_Name.append(aut.text)
    except NoSuchElementException:
        Author_Name.append('-')
# Extracting Volumes sold from xpath
    try:
        vol=driver7.find_element_by_xpath("//td[@id='table-cell-10943-{}-3']".format(i))
        Volumes_sold.append(vol.text)
    except NoSuchElementException:
        Volumes_sold.append('-')
# EXtracting Publisher name from xpath
    try:
        pub=driver7.find_element_by_xpath("//td[@id='table-cell-10943-{}-4']".format(i))
        Publisher.append(pub.text)
    except NoSuchElementException:
        Publisher.append('-')
# EXtracting Genre from xpath
    try:
         gen=driver7.find_element_by_xpath("//td[@id='table-cell-10943-{}-5']".format(i))
         Genre.append(gen.text)
    except NoSuchElementException:
        Genre.append('-')

In [67]:
df5=pd.DataFrame({})
df5['Book Name']=Book_Name
df5['Author Name']=Author_Name
df5['Volumes sold']=Volumes_sold
df5['Publisher']=Publisher
df5['Genre']=Genre

In [69]:
df5

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 8 completed

In [70]:
#Activating chrome browser
driver8=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [75]:
#Opening homepage of imdb
urls='https://www.imdb.com/list/ls095964455/'
driver8.get(urls)
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]
# Extracting out name from xpath
try:
    nam=driver8.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
    for i in nam:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
#EXtracting out year span from xpath
try:
    yer=driver8.find_elements_by_xpath("//h3[@class='lister-item-header']//span[2]")
    for j in yer:
        Year_span.append(j.text)
except NoSuchElementException:
    Year_span.append('-')
#EXtracting out genre from xpath    
try:
    gen=driver8.find_elements_by_xpath("//p[@class='text-muted text-small']//span[5]")
    for k in gen:
        Genre.append(k.text)
except NoSuchElementException:
    Genre.append('-')
#Extracting runtime from xpath
try:
    run=driver8.find_elements_by_xpath("//p[@class='text-muted text-small']//span[3]")
    for l in run:
        Run_time.append(l.text)
except NoSuchElementException:
    Run_time.append('-')
#EXtracting ratings from xpath
try:
    rat=driver8.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
    for n in rat:
        Ratings.append(n.text)
except NoSuchElementException:
    Ratings.append('-')
#Extracting votes from xpath
try:
    vot=driver8.find_elements_by_xpath("//p[@class='text-muted text-small'][3]//span[2]")
    for q in vot:
        Votes.append(q.text)
except NoSuchElementException:
    Votes.append('-')

In [82]:
df6=pd.DataFrame({})
df6['Name']=Name
df6['Year span']=Year_span
df6['Genre']=Genre
df6['Run time']=Run_time
df6['Ratings']=Ratings
df6['Votes']=Votes

In [83]:
df6

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,822,639"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,387"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,302"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,625"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,940"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,562"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,054"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,623"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,873"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,330"

# Question 9 completed

In [84]:
 #Activating chrome browser
driver9=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [92]:
9#Opening homepage of UCI machine learning
urls='https://archive.ics.uci.edu/ml/index.php'
driver9.get(urls)
#Extracting xpath of the View all datasets
de=driver9.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
de.click()
urls1=[]
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]
# EXtracting URLs individually of all the datsets and appending it in urls1 which is an empty lisy
ur=driver9.find_elements_by_xpath("//p[@class='normal']//b//a")
for i in ur:
    urls1.append(i.get_attribute('href'))
for urls2 in urls1:
    driver9.get(urls2)
# Extracting Dataset name from xpath
    try:
        dat=driver9.find_element_by_xpath("//span[@class='heading']//b")
        Dataset_name.append(dat.text)
    except NoSuchElementException:
        Dataset_name.append('-')
# EXtracting Datattype from xpath
    try:
        datat=driver9.find_element_by_xpath("//table[@border='1']//tbody//tr//td[2]//p")
        Data_type.append(datat.text)
    except NoSuchElementException:
        Data_type.append('-')
#EXtracting task from xpath
    try:
        tas=driver9.find_element_by_xpath("//table[@border='1']//tbody//tr[3]//td[2]//p")
        Task.append(tas.text)
    except NoSuchElementException:
        Task.append('-')
#Extracting attribute_type from xpath
    try:
        att=driver9.find_element_by_xpath("//table[@border='1']//tbody//tr[2]//td[2]//p")
        Attribute_type.append(att.text)
    except NoSuchElementException:
        Attribute_type.append('-')
#Extracting no of instances from xpath
    try:
        inst=driver9.find_element_by_xpath("//table[@border='1']//tbody//tr[1]//td[4]//p")
        No_of_instances.append(inst.text)
    except NoSuchElementException:
        No_of_instances.append('-')
#EXtracting no of attributes from xpath
    try:
        att=driver9.find_element_by_xpath("//table[@border='1']//tbody//tr[2]//td[4]//p")
        No_of_attribute.append(att.text)
    except NoSuchElementException:
        No_of_attribute.append('-')
#Extracting year from xpath
    try:
        dt=driver9.find_element_by_xpath("//table[@border='1']//tbody//tr[2]//td[6]//p")
        Year.append(dt.text)
    except NoSuchElementException:
        Year.append('-')

In [100]:
df7=pd.DataFrame({})
df7['Dataset']=Dataset_name
df7['Data Type']=Data_type
df7['Task']=Task
df7['Attribute Type']=Attribute_type
df7['No of instances']=No_of_instances
df7['No of attribute']=No_of_attribute
df7['Year']=Year

In [101]:
df7

,Dataset,Data Type,Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
1,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
2,Annealing Data Set,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data Data Set,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
4,Arrhythmia Data Set,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation Data Set,Multivariate,Classification,N/A,12684,23,2020-09-15
584,Gait Classification Data Set,Multivariate,Classification,Real,48,321,2020-10-14
585,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20
586,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20
587,Synchronous Machine Data Set Data Set,Multivariate,Regression,Real,557,5,2021-04-21

# Question 10 completed