In [1]:
import selenium
from selenium import webdriver
import time

In [44]:
driver1=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [45]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 05.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|05/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver1.get(url)

In [48]:
from selenium.common.exceptions import NoSuchElementException
Airline_name=[]
source=[]
Destination=[]
departure_time=[]
arrival_time=[]
duration=[]
total_stops=[]
price=[]
# Extracting X path for the airline name
try:
    det=driver1.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name.append(i.text)
except NoSuchElementException:
    Airline_name.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver1.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source.append(j.text)
except NoSuchElementException:
    source.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver1.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination.append(k.text)
except NoSuchElementException:
    Destination.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver1.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time.append(l.text)
except NoSuchElementException:
    departure_time.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver1.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time.append(m.text)
except NoSuchElementException:
    arrival_time.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver1.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration.append(n.text)
except NoSuchElementException:
    duration.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver1.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops.append(o.text)
except NoSuchElementException:
    total_stops.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver1.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price.append(b.text)
except NoSuchElementException:
    price.append('-')

In [51]:
journey_date=[]
i=0
while i<171:
    a= '05/10/2021'
    journey_date.append(a)
    i+=1

In [52]:
import pandas as pd
df=pd.DataFrame({})
df['journey_date']=journey_date
df['Airline_name']=Airline_name
df['source']=source
df['Destination']=Destination
df['departure_time']=departure_time
df['arrival_time']=arrival_time
df['Duration']=duration
df['total_stops']=total_stops
df['Price']=price

In [53]:
df

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,05/10/2021,Indigo,Delhi,Mumbai,06:05,12:35,06h 30m,1-stop,"5,496"
1,05/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
2,05/10/2021,GO FIRST,Delhi,Mumbai,18:40,20:45,02h 05m,non-stop,"5,954"
3,05/10/2021,GO FIRST,Delhi,Mumbai,22:45,00:50,02h 05m,non-stop,"5,954"
4,05/10/2021,SpiceJet,Delhi,Mumbai,18:40,20:40,02h 00m,non-stop,"5,955"
...,...,...,...,...,...,...,...,...,...
166,05/10/2021,Air India,Delhi,Mumbai,17:15,22:25,29h 10m,1-stop,"16,245"
167,05/10/2021,Air India,Delhi,Mumbai,20:15,12:25,16h 10m,1-stop,"18,345"
168,05/10/2021,Indigo,Delhi,Mumbai,14:25,19:10,04h 45m,1-stop,"19,290"
169,05/10/2021,Air India,Delhi,Mumbai,20:15,19:45,23h 30m,1-stop,"20,550"
170,05/10/2021,Air India,Delhi,Mumbai,16:55,12:25,19h 30m,1-stop,"22,755"

In [54]:
df.to_csv('05.10.2021.csv')

In [55]:
driver2=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [56]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 06.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|06/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver2.get(url)

In [57]:
from selenium.common.exceptions import NoSuchElementException
Airline_name1=[]
source1=[]
Destination1=[]
departure_time1=[]
arrival_time1=[]
duration1=[]
total_stops1=[]
price1=[]
# Extracting X path for the airline name
try:
    det=driver2.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name1.append(i.text)
except NoSuchElementException:
    Airline_name1.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver2.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source1.append(j.text)
except NoSuchElementException:
    source1.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver2.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination1.append(k.text)
except NoSuchElementException:
    Destination1.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver2.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time1.append(l.text)
except NoSuchElementException:
    departure_time1.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver2.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time1.append(m.text)
except NoSuchElementException:
    arrival_time1.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver2.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration1.append(n.text)
except NoSuchElementException:
    duration1.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver2.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops1.append(o.text)
except NoSuchElementException:
    total_stops1.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver2.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price1.append(b.text)
except NoSuchElementException:
    price1.append('-')

In [58]:
len(price1)

190

In [59]:
journey_date1=[]
i=0
while i<190:
    a= '06/10/2021'
    journey_date1.append(a)
    i+=1

In [60]:
import pandas as pd
df1=pd.DataFrame({})
df1['journey_date']=journey_date1
df1['Airline_name']=Airline_name1
df1['source']=source1
df1['Destination']=Destination1
df1['departure_time']=departure_time1
df1['arrival_time']=arrival_time1
df1['Duration']=duration1
df1['total_stops']=total_stops1
df1['Price']=price1

In [61]:
df1

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,06/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
1,06/10/2021,GO FIRST,Delhi,Mumbai,14:20,16:25,02h 05m,non-stop,"5,954"
2,06/10/2021,GO FIRST,Delhi,Mumbai,15:45,17:50,02h 05m,non-stop,"5,954"
3,06/10/2021,GO FIRST,Delhi,Mumbai,18:40,20:45,02h 05m,non-stop,"5,954"
4,06/10/2021,GO FIRST,Delhi,Mumbai,21:30,23:35,02h 05m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...,...
185,06/10/2021,Air India,Delhi,Mumbai,14:10,22:20,08h 10m,1-stop,"14,670"
186,06/10/2021,Air India,Delhi,Mumbai,09:45,15:55,30h 10m,1-stop,"15,405"
187,06/10/2021,GO FIRST,Delhi,Mumbai,10:40,17:30,06h 50m,1-stop,"16,561"
188,06/10/2021,GO FIRST,Delhi,Mumbai,08:10,17:30,09h 20m,1-stop,"16,561"
189,06/10/2021,Vistara,Delhi,Mumbai,20:30,12:30,16h 00m,1-stop,"17,610"

In [62]:
df1.to_csv('06.10.2021.csv')

In [63]:
driver3=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [64]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 07.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|07/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver3.get(url)

In [65]:
from selenium.common.exceptions import NoSuchElementException
Airline_name2=[]
source2=[]
Destination2=[]
departure_time2=[]
arrival_time2=[]
duration2=[]
total_stops2=[]
price2=[]
# Extracting X path for the airline name
try:
    det=driver3.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name2.append(i.text)
except NoSuchElementException:
    Airline_name2.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver3.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source2.append(j.text)
except NoSuchElementException:
    source2.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver3.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination2.append(k.text)
except NoSuchElementException:
    Destination2.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver3.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time2.append(l.text)
except NoSuchElementException:
    departure_time2.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver3.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time2.append(m.text)
except NoSuchElementException:
    arrival_time2.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver3.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration2.append(n.text)
except NoSuchElementException:
    duration2.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver3.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops2.append(o.text)
except NoSuchElementException:
    total_stops2.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver3.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price2.append(b.text)
except NoSuchElementException:
    price2.append('-')

In [66]:
journey_date2=[]
i=0
while i<188:
    a= '07/10/2021'
    journey_date2.append(a)
    i+=1

In [67]:
import pandas as pd
df2=pd.DataFrame({})
df2['journey_date']=journey_date2
df2['Airline_name']=Airline_name2
df2['source']=source2
df2['Destination']=Destination2
df2['departure_time']=departure_time2
df2['arrival_time']=arrival_time2
df2['Duration']=duration2
df2['total_stops']=total_stops2
df2['Price']=price2

In [68]:
df2

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,07/10/2021,Indigo,Delhi,Mumbai,06:05,12:35,06h 30m,1-stop,"5,496"
1,07/10/2021,GO FIRST,Delhi,Mumbai,06:15,08:20,02h 05m,non-stop,"5,954"
2,07/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
3,07/10/2021,GO FIRST,Delhi,Mumbai,14:20,16:25,02h 05m,non-stop,"5,954"
4,07/10/2021,GO FIRST,Delhi,Mumbai,18:40,20:45,02h 05m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...,...
183,07/10/2021,Vistara,Delhi,Mumbai,17:30,20:20,26h 50m,1-stop,"20,445"
184,07/10/2021,GO FIRST,Delhi,Mumbai,08:10,14:55,06h 45m,1-stop,"22,441"
185,07/10/2021,GO FIRST,Delhi,Mumbai,08:10,15:40,07h 30m,1-stop,"22,441"
186,07/10/2021,Air India,Delhi,Mumbai,20:15,12:25,16h 10m,1-stop,"25,275"
187,07/10/2021,Air India,Delhi,Mumbai,16:55,12:25,19h 30m,1-stop,"26,850"

In [69]:
df2.to_csv('07.10.2021.csv')

In [70]:
driver4=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [71]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 08.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|07/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver4.get(url)

In [72]:
from selenium.common.exceptions import NoSuchElementException
Airline_name3=[]
source3=[]
Destination3=[]
departure_time3=[]
arrival_time3=[]
duration3=[]
total_stops3=[]
price3=[]
# Extracting X path for the airline name
try:
    det=driver4.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name3.append(i.text)
except NoSuchElementException:
    Airline_name3.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver4.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source3.append(j.text)
except NoSuchElementException:
    source3.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver4.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination3.append(k.text)
except NoSuchElementException:
    Destination3.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver4.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time3.append(l.text)
except NoSuchElementException:
    departure_time3.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver4.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time3.append(m.text)
except NoSuchElementException:
    arrival_time3.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver4.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration3.append(n.text)
except NoSuchElementException:
    duration3.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver4.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops3.append(o.text)
except NoSuchElementException:
    total_stops3.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver4.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price3.append(b.text)
except NoSuchElementException:
    price3.append('-')

In [74]:
journey_date3=[]
i=0
while i<188:
    a= '08/10/2021'
    journey_date3.append(a)
    i+=1

In [75]:
import pandas as pd
df3=pd.DataFrame({})
df3['journey_date']=journey_date3
df3['Airline_name']=Airline_name3
df3['source']=source3
df3['Destination']=Destination3
df3['departure_time']=departure_time3
df3['arrival_time']=arrival_time3
df3['Duration']=duration3
df3['total_stops']=total_stops3
df3['Price']=price3

In [76]:
df3

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,08/10/2021,Indigo,Delhi,Mumbai,06:05,12:35,06h 30m,1-stop,"5,496"
1,08/10/2021,GO FIRST,Delhi,Mumbai,06:15,08:20,02h 05m,non-stop,"5,954"
2,08/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
3,08/10/2021,GO FIRST,Delhi,Mumbai,14:20,16:25,02h 05m,non-stop,"5,954"
4,08/10/2021,GO FIRST,Delhi,Mumbai,18:40,20:45,02h 05m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...,...
183,08/10/2021,Vistara,Delhi,Mumbai,17:30,20:20,26h 50m,1-stop,"20,445"
184,08/10/2021,GO FIRST,Delhi,Mumbai,08:10,14:55,06h 45m,1-stop,"22,441"
185,08/10/2021,GO FIRST,Delhi,Mumbai,08:10,15:40,07h 30m,1-stop,"22,441"
186,08/10/2021,Air India,Delhi,Mumbai,20:15,12:25,16h 10m,1-stop,"25,275"
187,08/10/2021,Air India,Delhi,Mumbai,16:55,12:25,19h 30m,1-stop,"26,850"

In [77]:
df3.to_csv('08.10.2021.csv')

In [82]:
driver5=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [83]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 09.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|09/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver5.get(url)

In [84]:
from selenium.common.exceptions import NoSuchElementException
Airline_name4=[]
source4=[]
Destination4=[]
departure_time4=[]
arrival_time4=[]
duration4=[]
total_stops4=[]
price4=[]
# Extracting X path for the airline name
try:
    det=driver5.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name4.append(i.text)
except NoSuchElementException:
    Airline_name4.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver5.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source4.append(j.text)
except NoSuchElementException:
    source4.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver5.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination4.append(k.text)
except NoSuchElementException:
    Destination4.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver5.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time4.append(l.text)
except NoSuchElementException:
    departure_time4.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver5.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time4.append(m.text)
except NoSuchElementException:
    arrival_time4.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver5.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration4.append(n.text)
except NoSuchElementException:
    duration4.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver5.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops4.append(o.text)
except NoSuchElementException:
    total_stops4.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver5.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price4.append(b.text)
except NoSuchElementException:
    price4.append('-')

In [85]:
len(price4)

202

In [86]:
journey_date4=[]
i=0
while i<202:
    a= '09/10/2021'
    journey_date4.append(a)
    i+=1

In [87]:
import pandas as pd
df4=pd.DataFrame({})
df4['journey_date']=journey_date4
df4['Airline_name']=Airline_name4
df4['source']=source4
df4['Destination']=Destination4
df4['departure_time']=departure_time4
df4['arrival_time']=arrival_time4
df4['Duration']=duration4
df4['total_stops']=total_stops4
df4['Price']=price4

In [88]:
df4

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,09/10/2021,GO FIRST,Delhi,Mumbai,06:15,08:20,02h 05m,non-stop,"5,954"
1,09/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
2,09/10/2021,GO FIRST,Delhi,Mumbai,15:45,17:50,02h 05m,non-stop,"5,954"
3,09/10/2021,GO FIRST,Delhi,Mumbai,18:40,20:45,02h 05m,non-stop,"5,954"
4,09/10/2021,GO FIRST,Delhi,Mumbai,20:00,22:05,02h 05m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...,...
197,09/10/2021,Vistara,Delhi,Mumbai,17:30,12:30,19h 00m,1-stop,"22,125"
198,09/10/2021,Vistara,Delhi,Mumbai,06:20,12:30,06h 10m,1-stop,"22,440"
199,09/10/2021,Vistara,Delhi,Mumbai,07:30,20:20,12h 50m,1-stop,"24,015"
200,09/10/2021,Vistara,Delhi,Mumbai,06:20,20:20,14h 00m,1-stop,"24,015"
201,09/10/2021,Air India,Delhi,Mumbai,20:15,16:45,20h 30m,1-stop,"31,785"

In [89]:
df4.to_csv('09.10.2021.csv')

In [90]:
driver6=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [91]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 10.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|10/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver6.get(url)

In [92]:
from selenium.common.exceptions import NoSuchElementException
Airline_name5=[]
source5=[]
Destination5=[]
departure_time5=[]
arrival_time5=[]
duration5=[]
total_stops5=[]
price5=[]
# Extracting X path for the airline name
try:
    det=driver6.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name5.append(i.text)
except NoSuchElementException:
    Airline_name5.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver6.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source5.append(j.text)
except NoSuchElementException:
    source5.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver6.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination5.append(k.text)
except NoSuchElementException:
    Destination5.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver6.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time5.append(l.text)
except NoSuchElementException:
    departure_time5.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver6.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time5.append(m.text)
except NoSuchElementException:
    arrival_time5.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver6.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration5.append(n.text)
except NoSuchElementException:
    duration5.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver6.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops5.append(o.text)
except NoSuchElementException:
    total_stops5.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver6.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price5.append(b.text)
except NoSuchElementException:
    price5.append('-')

In [97]:
journey_date5=[]
i=0
while i<204:
    a= '10/10/2021'
    journey_date5.append(a)
    i+=1

In [98]:
import pandas as pd
df5=pd.DataFrame({})
df5['journey_date']=journey_date5
df5['Airline_name']=Airline_name5
df5['source']=source5
df5['Destination']=Destination5
df5['departure_time']=departure_time5
df5['arrival_time']=arrival_time5
df5['Duration']=duration5
df5['total_stops']=total_stops5
df5['Price']=price5

In [99]:
df5

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,10/10/2021,Indigo,Delhi,Mumbai,06:05,12:35,06h 30m,1-stop,"5,607"
1,10/10/2021,GO FIRST,Delhi,Mumbai,06:15,08:20,02h 05m,non-stop,"5,954"
2,10/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
3,10/10/2021,GO FIRST,Delhi,Mumbai,15:45,17:50,02h 05m,non-stop,"5,954"
4,10/10/2021,GO FIRST,Delhi,Mumbai,18:40,20:45,02h 05m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...,...
199,10/10/2021,Air India,Delhi,Mumbai,10:35,16:45,06h 10m,1-stop,"20,896"
200,10/10/2021,Vistara,Delhi,Mumbai,06:20,20:20,14h 00m,1-stop,"21,075"
201,10/10/2021,Vistara,Delhi,Mumbai,06:20,12:30,06h 10m,1-stop,"22,125"
202,10/10/2021,Air India,Delhi,Mumbai,20:15,12:25,16h 10m,1-stop,"28,635"
203,10/10/2021,Air India,Delhi,Mumbai,16:55,12:25,19h 30m,1-stop,"30,210"

In [100]:
df5.to_csv('10.10.2021.csv')

In [105]:
driver7=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [108]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 11.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|11/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver7.get(url)

In [109]:
from selenium.common.exceptions import NoSuchElementException
Airline_name6=[]
source6=[]
Destination6=[]
departure_time6=[]
arrival_time6=[]
duration6=[]
total_stops6=[]
price6=[]
# Extracting X path for the airline name
try:
    det=driver7.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name6.append(i.text)
except NoSuchElementException:
    Airline_name6.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver7.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source6.append(j.text)
except NoSuchElementException:
    source6.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver7.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination6.append(k.text)
except NoSuchElementException:
    Destination6.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver7.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time6.append(l.text)
except NoSuchElementException:
    departure_time6.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver7.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time6.append(m.text)
except NoSuchElementException:
    arrival_time6.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver7.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration6.append(n.text)
except NoSuchElementException:
    duration6.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver7.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops6.append(o.text)
except NoSuchElementException:
    total_stops6.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver7.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price6.append(b.text)
except NoSuchElementException:
    price6.append('-')

In [113]:
journey_date6=[]
i=0
while i<217:
    a= '11/10/2021'
    journey_date6.append(a)
    i+=1

In [114]:
import pandas as pd
df6=pd.DataFrame({})
df6['journey_date']=journey_date6
df6['Airline_name']=Airline_name6
df6['source']=source6
df6['Destination']=Destination6
df6['departure_time']=departure_time6
df6['arrival_time']=arrival_time6
df6['Duration']=duration6
df6['total_stops']=total_stops6
df6['Price']=price6

In [115]:
df6

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,11/10/2021,GO FIRST,Delhi,Mumbai,06:15,08:20,02h 05m,non-stop,"5,954"
1,11/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
2,11/10/2021,GO FIRST,Delhi,Mumbai,10:55,13:00,02h 05m,non-stop,"5,954"
3,11/10/2021,GO FIRST,Delhi,Mumbai,14:20,16:25,02h 05m,non-stop,"5,954"
4,11/10/2021,GO FIRST,Delhi,Mumbai,15:45,17:50,02h 05m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...,...
212,11/10/2021,Vistara,Delhi,Mumbai,07:30,20:20,12h 50m,1-stop,"13,725"
213,11/10/2021,Vistara,Delhi,Mumbai,07:30,23:15,15h 45m,1-stop,"13,725"
214,11/10/2021,Air India,Delhi,Mumbai,14:10,22:20,08h 10m,1-stop,"14,670"
215,11/10/2021,Air India,Delhi,Mumbai,09:45,15:55,30h 10m,1-stop,"15,405"
216,11/10/2021,Air India,Delhi,Mumbai,07:00,19:45,12h 45m,1-stop,"26,850"

In [116]:
df6.to_csv('11.10.2021.csv')

In [122]:
driver8=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [127]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 12.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|12/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver8.get(url)

In [128]:
from selenium.common.exceptions import NoSuchElementException
Airline_name7=[]
source7=[]
Destination7=[]
departure_time7=[]
arrival_time7=[]
duration7=[]
total_stops7=[]
price7=[]
# Extracting X path for the airline name
try:
    det=driver8.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name7.append(i.text)
except NoSuchElementException:
    Airline_name7.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver8.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source7.append(j.text)
except NoSuchElementException:
    source7.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver8.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination7.append(k.text)
except NoSuchElementException:
    Destination7.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver8.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time7.append(l.text)
except NoSuchElementException:
    departure_time7.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver8.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time7.append(m.text)
except NoSuchElementException:
    arrival_time7.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver8.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration7.append(n.text)
except NoSuchElementException:
    duration7.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver8.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops7.append(o.text)
except NoSuchElementException:
    total_stops7.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver8.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price7.append(b.text)
except NoSuchElementException:
    price7.append('-')

In [132]:
journey_date7=[]
i=0
while i<218:
    a= '12/10/2021'
    journey_date7.append(a)
    i+=1

In [133]:
import pandas as pd
df7=pd.DataFrame({})
df7['journey_date']=journey_date7
df7['Airline_name']=Airline_name7
df7['source']=source7
df7['Destination']=Destination7
df7['departure_time']=departure_time7
df7['arrival_time']=arrival_time7
df7['Duration']=duration7
df7['total_stops']=total_stops7
df7['Price']=price7

In [134]:
df7

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,12/10/2021,Indigo,Delhi,Mumbai,06:05,12:35,06h 30m,1-stop,"5,496"
1,12/10/2021,GO FIRST,Delhi,Mumbai,06:15,08:20,02h 05m,non-stop,"5,954"
2,12/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
3,12/10/2021,GO FIRST,Delhi,Mumbai,10:55,13:00,02h 05m,non-stop,"5,954"
4,12/10/2021,GO FIRST,Delhi,Mumbai,14:20,16:25,02h 05m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...,...
213,12/10/2021,Air India,Delhi,Mumbai,17:15,22:25,29h 10m,1-stop,"16,245"
214,12/10/2021,Air India,Delhi,Mumbai,10:35,16:45,06h 10m,1-stop,"16,906"
215,12/10/2021,Air India,Delhi,Mumbai,20:15,19:45,23h 30m,1-stop,"17,715"
216,12/10/2021,Air India,Delhi,Mumbai,16:55,12:25,19h 30m,1-stop,"18,030"
217,12/10/2021,Air India,Delhi,Mumbai,20:15,12:25,16h 10m,1-stop,"19,500"

In [135]:
df7.to_csv('12.10.2021.csv')

In [148]:
driver9=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32 (5)\chromedriver.exe")

In [149]:
#  looking for flights available from New Delhi to Mumbai on easymytrip.com for the journey date 13.10.2021
url='https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|13/10/2021&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL='
driver9.get(url)

In [150]:
from selenium.common.exceptions import NoSuchElementException
Airline_name8=[]
source8=[]
Destination8=[]
departure_time8=[]
arrival_time8=[]
duration8=[]
total_stops8=[]
price8=[]
# Extracting X path for the airline name
try:
    det=driver9.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
    for i in det:
        Airline_name8.append(i.text)
except NoSuchElementException:
    Airline_name8.append('-')
# Extracting xpath for source i.e. New Delhi in your case
try:
    det1=driver9.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[2]")
    for j in det1:
        source8.append(j.text)
except NoSuchElementException:
    source8.append('-')
# Extracting xpath for destination i.e. Mumbai in your case
try:
    det2=driver9.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']//span[2]")
    for k in det2:
        Destination8.append(k.text)
except NoSuchElementException:
    Destination8.append('-')
# Extracting xpath for the departure time from the source i.e New delhi in our case
try:
    det3=driver9.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-4 top5 ']//span[1]")
    for l in det3:
        departure_time8.append(l.text)
except NoSuchElementException:
    departure_time8.append('-')
# Extracting xpath for the arrival time at the destination i.e Mumbai in our case
try:
    det4=driver9.find_elements_by_xpath("//div[@class='col-md-2 col-sm-2 col-xs-3 top5']/span[1]")
    for m in det4:
        arrival_time8.append(m.text)
except NoSuchElementException:
    arrival_time8.append('-')
# Extracting xpath for the duration of the journey
try:
    det5=driver9.find_elements_by_xpath("//span[@class='dura_md ng-binding']")
    for n in det5:
        duration8.append(n.text)
except NoSuchElementException:
    duration8.append('-')
# Extracting xpath for the total stops during the journey from source to destination
try:
    det6=driver9.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
    for o in det6:
        total_stops8.append(o.text)
except NoSuchElementException:
    total_stops8.append('-')
# Extracting xpath for the price per ticket of the journey
try:
    det7=driver9.find_elements_by_xpath("//div[@class='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
    for b in det7:
        price8.append(b.text)
except NoSuchElementException:
    price8.append('-')

In [152]:
journey_date8=[]
i=0
while i<218:
    a= '13/10/2021'
    journey_date8.append(a)
    i+=1

In [151]:
len(price8)

218

In [153]:
import pandas as pd
df8=pd.DataFrame({})
df8['journey_date']=journey_date8
df8['Airline_name']=Airline_name8
df8['source']=source8
df8['Destination']=Destination8
df8['departure_time']=departure_time8
df8['arrival_time']=arrival_time8
df8['Duration']=duration8
df8['total_stops']=total_stops8
df8['Price']=price8

In [154]:
df8

,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,13/10/2021,GO FIRST,Delhi,Mumbai,06:15,08:20,02h 05m,non-stop,"5,954"
1,13/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
2,13/10/2021,GO FIRST,Delhi,Mumbai,10:55,13:00,02h 05m,non-stop,"5,954"
3,13/10/2021,GO FIRST,Delhi,Mumbai,14:20,16:25,02h 05m,non-stop,"5,954"
4,13/10/2021,GO FIRST,Delhi,Mumbai,15:45,17:50,02h 05m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...,...
213,13/10/2021,Air India,Delhi,Mumbai,12:10,08:45,20h 35m,1-stop,"19,500"
214,13/10/2021,SpiceJet,Delhi,Mumbai,12:00,10:30,22h 30m,1-stop,"23,281"
215,13/10/2021,SpiceJet,Delhi,Mumbai,12:00,13:10,25h 10m,1-stop,"23,281"
216,13/10/2021,Vistara,Delhi,Mumbai,08:30,13:35,05h 05m,1-stop,"24,225"
217,13/10/2021,Vistara,Delhi,Mumbai,08:30,14:45,06h 15m,1-stop,"24,225"

In [155]:
df8.to_csv('13.10.2021.csv')