In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('05.10.2021.csv')

In [3]:
df2=pd.read_csv('06.10.2021.csv')

In [4]:
df3=pd.read_csv('07.10.2021.csv')

In [5]:
df4=pd.read_csv('08.10.2021.csv')

In [6]:
df5=pd.read_csv('09.10.2021.csv')

In [7]:
df6=pd.read_csv('10.10.2021.csv')

In [8]:
df7=pd.read_csv('11.10.2021.csv')

In [9]:
df8=pd.read_csv('12.10.2021.csv')

In [10]:
df9=pd.read_csv('13.10.2021.csv')

In [13]:
df10=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [14]:
df10

,Unnamed: 0,journey_date,Airline_name,source,Destination,departure_time,arrival_time,Duration,total_stops,Price
0,0,05/10/2021,Indigo,Delhi,Mumbai,06:05,12:35,06h 30m,1-stop,"5,496"
1,1,05/10/2021,GO FIRST,Delhi,Mumbai,09:40,11:45,02h 05m,non-stop,"5,954"
2,2,05/10/2021,GO FIRST,Delhi,Mumbai,18:40,20:45,02h 05m,non-stop,"5,954"
3,3,05/10/2021,GO FIRST,Delhi,Mumbai,22:45,00:50,02h 05m,non-stop,"5,954"
4,4,05/10/2021,SpiceJet,Delhi,Mumbai,18:40,20:40,02h 00m,non-stop,"5,955"
...,...,...,...,...,...,...,...,...,...,...
213,213,13/10/2021,Air India,Delhi,Mumbai,12:10,08:45,20h 35m,1-stop,"19,500"
214,214,13/10/2021,SpiceJet,Delhi,Mumbai,12:00,10:30,22h 30m,1-stop,"23,281"
215,215,13/10/2021,SpiceJet,Delhi,Mumbai,12:00,13:10,25h 10m,1-stop,"23,281"
216,216,13/10/2021,Vistara,Delhi,Mumbai,08:30,13:35,05h 05m,1-stop,"24,225"
217,217,13/10/2021,Vistara,Delhi,Mumbai,08:30,14:45,06h 15m,1-stop,"24,225"

In [15]:
df10.to_csv('final flight data.csv')