In [4]:
import selenium
import pandas as pd
from selenium import webdriver

In [11]:
driver=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [12]:
url='https://www.naukri.com/'

In [13]:
driver.get(url)

In [14]:
search_title=driver.find_element_by_id("qsb-keyword-sugg")

In [15]:
search_title.send_keys('Data Analyst')

In [16]:
search_location=driver.find_element_by_id('qsb-location-sugg')

In [17]:
search_location.send_keys('Bangalore')

In [18]:
search_click=driver.find_element_by_xpath("//button[@class='btn']")

In [19]:
search_click.click()

In [20]:
job_title1=[]
job_location=[]
company_name=[]
experience=[]

In [21]:
title=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
title

[<selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="908306e2-fca1-45c0-a807-2e36bd3157ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="340ddbc6-8837-4596-a8ca-a6cf2e36434d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="3f22bf4f-2c44-4d81-bb8a-f6908ae5f45f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="80ebe211-3124-4f5a-beb0-c58f16ef6002")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="e6067c92-e7f1-47f1-9c90-f53e03c6318c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="50997316-1c4b-4efd-af72-faebcfb95026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="350a9571-b407-437f-9c21-acfcd5b19657")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="896a7dd8-43c8-4934-ba2f-9a852436dd1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="a0d4d39b-2451-4064-9edc-f20b58ea64e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="0cbc2d94-6b54-484f-8b29-04d5a6b355c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="67b718cc-9f05-4c3c-b2fa-085d6d97606c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="caf900b4-5683-4a0e-a071-5c8a58169b78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="6b766ed6-bd97-4135-8d2a-cb14f9cb8585")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="e7cbf6eb-8594-4a39-a424-e3edf21447a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="fa50c604-7df6-4e73-95b8-6c17633ba538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="222fda60-f09a-4967-868e-5aabda13dde9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="3cae08ce-631d-4257-9bc3-50bb7c2f0c33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="a8df3814-541f-4cf1-b831-9ec5a7ce4e80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="6ebb1fae-8b7a-4a16-90aa-103a9948abad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="d0d8ca78-e8f0-4571-811e-57c3d34f56c0")>]

In [22]:

for i in title:
    job_title1.append(i.text)
job_title1

['Data Scientist / Data Analyst -Business Analyst',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst - Informatica MDM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'LTI Hiring Business Data Analyst - Risk Reporting',
 'Senior/Regular Business Analyst / Data Analyst',
 'Cybersecurity Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst / Business Analyst -',
 'Business Data Analyst']

In [23]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [24]:
location

[<selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="c6b969fd-784f-49d9-b503-7434aa513f64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="e8341440-3791-4d73-bfe6-74a8eee0634a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="bca84f4d-f27c-43f4-8f9d-fb8b3343a3f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="5222ccf0-1e0c-46ce-a745-67c7a32328bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="fc386f46-3088-4431-968f-c597e6343fb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="4d1a82f8-7333-48a3-b613-4ff94654269d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="a7a28cfd-38f4-4cdc-ba88-a386bb75cbdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="87500b95-b1b4-4720-9ff4-c752bd72d4e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="b89a6373-eaa3-40be-b859-78c4b8e1b05a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="54823848-2a5c-4b72-abf1-c3bd17a7e815")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="6cb58536-8390-4d5d-a740-1850ab9c7c16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="3736c75e-61dd-405f-9d45-6c8d4094f610")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="f7946404-9b66-4507-b91e-5a430eec8eaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="78671c71-8b80-45c3-9f6c-8ea4699c4747")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="6eaba410-e7e9-47c1-b41b-c6f5cd57e2c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="44d61aaf-f5e8-434e-bafa-51c5e3d4b179")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="eaba1258-60ab-41ef-ba10-70f72df8c781")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="090585d0-149f-4a9e-b7b2-b6c8cec6263b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="2f6b385e-7938-4936-8d3c-b6569e1062e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="e206636d-7af0-40c9-ae72-40462575612d")>]

In [25]:
job_location1=[]
for j in location:
    job_location1.append(j.text)
job_location1

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [26]:
name=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']//a['title'][1]")

In [27]:
name

[<selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="45878ab3-75a1-4b17-876e-5a33a0a9a07a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="d55181b4-b646-497d-ab59-3a9240f82a79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="568e3cf6-9b87-43ed-9e0c-1196f7445343")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="4ed225ab-df67-4132-9631-bbbdc4c8afb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="ee87603f-112e-4baf-97e6-b85e6ff15e44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="90f2a87a-1e24-4d51-9060-979571781403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="29c91384-0530-467d-9dc1-7741fa1dd341")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="c465f0cc-74ca-452f-8715-c84fb22bfcca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="ff662ff0-e459-4fac-a9d3-f0eeb45f139e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="29fa910d-b24f-4d8c-91aa-46f3f84a68ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="a571fa25-415a-4140-af23-73c2b107400e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="a503fbda-a56d-4d5c-99b5-8a34df2df1b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="4e3f606b-096e-4c48-bbb1-ab0e04ab5b39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="7b2bdd9c-c4b0-45a5-b4bc-07b645bea790")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="933e435a-0b03-4a36-aafe-1a5cd90549a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="844d360c-7b9f-49b4-a407-65d163c44745")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="fbb506da-662a-40b3-9398-07ba02bd8568")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="6b5e92bf-f9aa-47b7-95f8-e54975e4046a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="1868cc04-ae87-4518-a48d-23c14ace3e6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="452612cf-00c2-4c77-98e0-37e6a6fed4a9")>]

In [35]:
companies_name=[]
for k in name:
    companies_name.append(k.text)
companies_name

['Inflexion Analytix Private Limited',
 'Allegis Services India Pvt. Ltd.',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Applied Materials',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Shell India Markets Private Limited',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'SA Tech Software (I) Pvt. Ltd.',
 'Larsen & Toubro Infotech Limited',
 'Luxoft',
 'Huawei Technologies India Pvt Ltd',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'LatentView Analytics Private Limited',
 'ALSTOM India Limited']

In [29]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [30]:
exp

[<selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="1d9d2a06-19bc-4219-9db5-c5793cc78d19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="287ba081-cfbc-470d-97de-ad594ffdc995")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="6722492a-2e84-40dc-ae4b-3054704ba42b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="200c2188-29cf-41e8-ac5e-4b40aa88bf0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="8b6c498d-7fc3-4041-b5c5-ef942793aef6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="2b04116e-b6c1-4bf9-9217-66f5881c25b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="5ea714d1-0ef3-4a8c-ad48-7f7b9ab25ad6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="3ff2cc52-4dee-4cd9-a875-25c656ef6910")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="6fbc8128-f3e6-42c4-80ec-29fc7bf12a58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="8a7b0c0d-2a71-491b-84a4-6f39add02c7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="a7202065-55a3-44c8-9b72-0258a723de0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="5398eaaa-843e-43f8-aeb1-d57f8e7de0c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="1c5214a8-6837-4ded-94c8-5d6ef5cf3ff3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="ae2e4c2f-dd6f-4ed3-80b4-a16a2dec49e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="24e10e42-bdcd-49b4-912e-88dd8cfe8e37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="32b26af5-3017-4238-83f5-1b2372801782")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="5a2ec28c-1504-4d24-a5bb-2cf1dca3530a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="6c18f14f-cf51-4d45-b084-73ba643b3564")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="af12c34d-3534-42b7-99fa-5404aa63ac7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="391bcc161467a00f5e5bf41e0ef1f2da", element="fbd1faaa-98f5-4aaf-b70e-349395d4951b")>]

In [31]:
experience1=[]
for n in exp:
    experience1.append(n.text)
experience1

['0-3 Yrs',
 '0-5 Yrs',
 '12-18 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '7-10 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '5-10 Yrs']

In [36]:
print(len(job_title1),len(experience1),len(job_location1),len(companies_name))

20 20 20 20

In [37]:
df=pd.DataFrame({})
df['job_title']=job_title1
df['location']=job_location1
df['company name']=companies_name
df['experience']=experience1

In [38]:
df

,job_title,location,company name,experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-5 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
3,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
4,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
5,DA - Urgent Opening For Data Analyst BFSI Doma...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.,4-9 Yrs
6,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-9 Yrs
10,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
11,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
12,Data Analyst,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.,1-3 Yrs
13,LTI Hiring Business Data Analyst - Risk Reporting,"Pune, Chennai, Bangalore/Bengaluru",Larsen & Toubro Infotech Limited,7-10 Yrs
14,Senior/Regular Business Analyst / Data Analyst,Bangalore/Bengaluru,Luxoft,3-6 Yrs
15,Cybersecurity Data Analyst,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,5-8 Yrs
16,Data Analyst,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
17,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs
18,Data Analyst / Business Analyst -,"Chennai, Bangalore/Bengaluru",LatentView Analytics Private Limited,1-5 Yrs
19,Business Data Analyst,Bangalore/Bengaluru,ALSTOM India Limited,5-10 Yrs

In [39]:
df1=df.iloc[0:10,:]

In [40]:
df1

,job_title,location,company name,experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-5 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
3,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
4,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
5,DA - Urgent Opening For Data Analyst BFSI Doma...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.,4-9 Yrs
6,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-9 Yrs

# Q1 completed of first assignment

In [41]:
driver1=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [42]:
url='https://www.naukri.com/'

In [43]:
driver1.get(url)

In [44]:
search1_title=driver1.find_element_by_id('qsb-keyword-sugg')

In [45]:
search1_title.send_keys("Data Scientist")

In [46]:
search1_location=driver1.find_element_by_id('qsb-location-sugg')

In [47]:
search1_location.send_keys('Bangalore')

In [48]:
search1_select=driver1.find_element_by_xpath("//button[@class='btn']")

In [49]:
search1_select.click()

In [50]:
title=driver1.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [51]:
title

[<selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="60b8bb71-91fa-4f63-a156-3ab13d85fb5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="2b66e021-827e-4a09-91f2-db6c62588433")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="185c881e-affb-4673-a809-755c38fc4c7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="7fa488e9-08f4-4190-8f3b-7e3e6e62208b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="0377a5c5-e555-486c-a433-32851764ced1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="4f2c15cc-f472-4f10-9059-da939a3593e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="bb314e80-8259-4929-9b59-ec0b71051233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="dce403cf-4591-4090-a499-3d84f0289c0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="a6d39790-f72a-4546-83bf-2598578a97a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="2c5dfb2a-854f-4083-a3cc-23dedda32073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="bf41e32b-47de-4ff6-aec7-44544ce07167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="c45ab363-dedd-43ae-8e59-e4edbef76a79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="59dc9206-f60b-4d42-b9ed-db9fc9ef740f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="dc28b2ca-a7c3-4a50-923f-e5075e1511ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="4ab41bab-4c66-4f5b-a5be-e80993210014")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="38a677a9-a67d-4517-b9f9-50660c155c4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="7c16cb94-1fa1-40c3-8366-454eeeba2c93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="99511d19-bf4c-4a97-a0ff-137c0b0efc32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="4c59d914-dd60-4cdd-9012-8e36a05e4f09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="45f012d4-195d-4816-b59d-9e3e52967535")>]

In [52]:
job_title=[]
for i in title:
    job_title.append(i.text)
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Lead Data Scientist',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Data Scientist',
 'Senior Data Scientist - Credit risk',
 'Big Data - Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Data Scientist',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist - Chatbot & NLP',
 'Hiring For Lead data Scientist For Bangalore location',
 'Senior Data Scientist - Kinara Capital',
 'Senior Data Scientist, Marketing Analytics',
 'Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Principal Data Scientist',
 'Lead Data Scientist /Sr. Data Scientist',
 'Data Scientist']

In [53]:
location=driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [54]:
location

[<selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="07311820-e79f-4f24-b2dd-1038e3614d50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="bef612fc-2dbd-4111-a9e7-3ca404b1996c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="f4508476-7b9a-4856-81d3-6abaa9e9455c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="c615bfaa-ad7f-401c-843f-e560f4171154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="98de7367-17c4-4abd-bfba-fe9f39eb3b48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="b1d1a33e-75ef-408f-a06b-c7eb3cba89f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="f1faa52f-1ed8-4eec-b4a0-a914234792d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="66196b70-19a9-4d42-a775-677d979d56b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="1bc9d9bb-a759-48e7-a9f4-ae340038117a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="3b38da02-56e3-449e-b485-35abde40d0df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="1ab72f01-ceea-4414-a3e7-fe10e4b841ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="52e0a972-7cf9-40ec-a492-bb8c50bb2caf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="61068ea3-4916-427a-8dd8-bda39750acfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="53904fdf-9934-42a3-8945-f731a8d75b9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="b1820e59-f6d1-4bf4-b554-6b75299d3a7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="64321bfa-89d3-4419-86d3-43dc5289d61e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="070e9ddf-7b6a-4e71-abb1-c9d43e519570")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="f10f55fa-8a65-43d6-a16a-42364f023c53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="079a911b-5419-41db-9f37-b55996e98e79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="49f375d9-c8e6-4c6c-a154-3a5b5ae444f3")>]

In [55]:
job_location=[]

for i in location:
    job_location.append(i.text)
job_location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [56]:
company_name=driver1.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a['title'][1]")

In [57]:
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="5fc86b39-bd49-4a6c-a3d2-748466ad7605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="26e59497-3353-48a7-9556-a0c9afe2e69e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="e51ed2b8-835e-4173-bc23-076c675313ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="5d8292d1-f920-4faf-9627-e2f7499c8564")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="0b24aeed-f23b-47ea-ae1d-61b7c45c1ee2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="325a1f08-4ef3-4cd8-999d-71c6a140d867")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="e259d152-16b8-4e75-b755-f2f8b77aa003")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="c1fdc5a3-218f-4d5f-bef9-f23db997052a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="25499186-7e84-48c6-9770-9a08136fc8a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="824734ba-d35c-4719-a24d-91086f37fe59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="930ccc53-bc69-46e4-867e-d8fb11e379cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="e529e7ab-a405-48c3-a0f3-27c78c3e1915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="23e688c6-24bb-40b6-9c64-d0f5a8a35fa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="f0eec0f8-dc9b-4f9d-b52e-82f272ec00c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="cb27b37c-c3ad-4991-916d-8bd58d94f009")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="4028375f-07c8-4a1b-925b-a17b906fb827")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="c9290253-282a-42c7-9cbc-9dc8275325f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="a71be266-a516-4935-9778-5938c7b201c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="4dfe5979-6828-4cf0-bfab-630042e92f73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="1ae9609e-7140-4ee9-96f7-89349d8b6fcd")>]

In [58]:
organization_name=[]

for i in company_name:
    organization_name.append(i.text)
organization_name

['Inflexion Analytix Private Limited',
 'Intel Technology India Pvt Ltd',
 'Nielsen',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Scienaptic Systems',
 'Xoriant Solutions Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'IBM India Pvt. Limited',
 'Gojek Tech',
 'GO-JEK India',
 'Societe Generale',
 'Kinara Financial Private Limited',
 'Hudsons Bay Company',
 'Applied Materials',
 'o9 Solutions Management India Private Limited',
 'NetApp',
 'BDITDOMAIN',
 'TechKnowledgey Pte Ltd']

In [59]:
url=driver1.find_elements_by_xpath("//div[@class='info fleft']/a")

In [60]:
url

[<selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="60b8bb71-91fa-4f63-a156-3ab13d85fb5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="2b66e021-827e-4a09-91f2-db6c62588433")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="185c881e-affb-4673-a809-755c38fc4c7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="7fa488e9-08f4-4190-8f3b-7e3e6e62208b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="0377a5c5-e555-486c-a433-32851764ced1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="4f2c15cc-f472-4f10-9059-da939a3593e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="bb314e80-8259-4929-9b59-ec0b71051233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="dce403cf-4591-4090-a499-3d84f0289c0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="a6d39790-f72a-4546-83bf-2598578a97a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="2c5dfb2a-854f-4083-a3cc-23dedda32073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="bf41e32b-47de-4ff6-aec7-44544ce07167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="c45ab363-dedd-43ae-8e59-e4edbef76a79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="59dc9206-f60b-4d42-b9ed-db9fc9ef740f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="dc28b2ca-a7c3-4a50-923f-e5075e1511ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="4ab41bab-4c66-4f5b-a5be-e80993210014")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="38a677a9-a67d-4517-b9f9-50660c155c4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="7c16cb94-1fa1-40c3-8366-454eeeba2c93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="99511d19-bf4c-4a97-a0ff-137c0b0efc32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="4c59d914-dd60-4cdd-9012-8e36a05e4f09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e89560b79b48a1b767efa243b5b36933", element="45f012d4-195d-4816-b59d-9e3e52967535")>]

In [61]:
url_update=[]
for i in url:
    url_update.append(i.get_attribute('href'))
url_update

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16211612469633748&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-070521500578?src=jobsearchDesk&sid=16211612469633748&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-modeling-nielsen-kolkata-gurgaon-gurugram-bangalore-bengaluru-vadodara-baroda-mumbai-all-areas-3-to-7-years-280421003878?src=jobsearchDesk&sid=16211612469633748&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-040521900448?src=jobsearchDesk&sid=16211612469633748&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-030521900421?src=jobsearchDesk&sid=16211612469633748&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-credit-risk-scienaptic-systems-bangalore-bengaluru-5-to-10-years-030521500996?src=jobsearchDesk&sid=16211612469633748&xp=6&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16211612469633748&xp=7&px=1',
 'https://www.naukri.com/job-listings-sde-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901434?src=jobsearchDesk&sid=16211612469633748&xp=8&px=1',
 'https://www.naukri.com/job-listings-computational-design-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901329?src=jobsearchDesk&sid=16211612469633748&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-110521907352?src=jobsearchDesk&sid=16211612469633748&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-gojek-tech-bangalore-bengaluru-3-to-7-years-060521500524?src=jobsearchDesk&sid=16211612469633748&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-go-jek-india-bangalore-bengaluru-5-to-10-years-050521500478?src=jobsearchDesk&sid=16211612469633748&xp=12&px=1',
 'https://www.naukri.com/job-listings-hiring-for-lead-data-scientist-for-bangalore-location-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-5-to-9-years-130521000901?src=jobsearchDesk&sid=16211612469633748&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-capital-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-060521500976?src=jobsearchDesk&sid=16211612469633748&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketing-analytics-hudsons-bay-company-bangalore-bengaluru-2-to-4-years-140521501771?src=jobsearchDesk&sid=16211612469633748&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-070521901521?src=jobsearchDesk&sid=16211612469633748&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-data-scientist-o9-solutions-management-india-private-limited-bangalore-bengaluru-2-to-7-years-010521000099?src=jobsearchDesk&sid=16211612469633748&xp=17&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-netapp-india-private-limited-bangalore-bengaluru-10-to-15-years-070521906988?src=jobsearchDesk&sid=16211612469633748&xp=18&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-sr-data-scientist-bditdomain-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-8-to-10-years-030521004696?src=jobsearchDesk&sid=16211612469633748&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-techknowledgey-pte-ltd-bangalore-bengaluru-0-to-2-years-070521003138?src=jobsearchDesk&sid=16211612469633748&xp=20&px=1']

In [62]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

full_job_description = [ ]
urls=[i.get_attribute("href")for i in driver1.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls:
    try:
        
        driver1.get(url)
        raw_description=driver1.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        full_job_description.append(raw_description)
    except NoSuchElementException :
        full_job_description.append("---")

In [63]:
full_job_description

["Job Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.",
 'We are seeking an outstanding Lead Data Scientist in AI/ML who will help our team continue to grow and bring high value to Intel. In this role you should demonstrate excellent problem formulation/definition skills in addition to technical skills. The ideal candidate should be:\n\nA professional role model with deep and wide expertise in state-of-the-art AI/ML techniques, a passion for solving challenging data science problems and extensive hands-on experience.\nBe detail-oriented and have an aptitude for solving unstructured problems. You should be excellent in coming up with different approaches to solve business problem using AI and evaluate the trade-off between them.\nBe self-directed, take charge of opportunities with business impact and drive them to completion.\nHave prior experience in guiding a team of data scientists, coaching and mentoring them.\nHave deep technical expertise in feature-engineering of massive datasets, effective exploratory data analysis, and model building using AI/ML techniques.\nBe a role model innovator by adapting new AI/ML modeling techniques and procedures.\nHave deep expertise in creation and management of datasets.\nHave excellent business and communication skills to be able to work with stakeholders like the business teams, engineering teams and partner teams and align them with respect to your focus area.\nHave the ability to manage and execute an entire AI project from start to finish, including problem solving, data gathering and manipulation, predictive modeling, and project management skills.\nBe a role-model in storytelling with data and articulating the AI problems in an understandable manner to senior leadership of the Business Units.\n\nYou will be a part of the large global AI/ML Research Scientist community and will have access to state-of-the-art training, tools, and methods of the domain.\n\n\nCandidates need to hold at least a masters degree (or higher) in Computer Science/Machine Learning/AI/Data Science\n8 years of relevant experience in building AI/ML models and in using Python (Scikit-learn, TensorFlow/Pytorch) and SQL (or equivalent).\nExperience in using data analysis techniques and ML methods like classification, regression pattern finding, clustering, dimensionality reduction, anomaly detection etc.\nExperience with Hadoop, Spark is an advantage\nDeep Knowledge of classical AI algorithms and Deep Learning techniques is a must.\nGreat analytical skills and demonstrated ability of independent and creative thinking.\nHighly motivated strong team player with the ability to work both independently and collaboratively within a team.\nHas strong analytical skills, including the abilities to scope out business problems to be solved, start from ambiguous problem statements, identify and access relevant data, make appropriate assumptions, perform insightful analysis and draw conclusions relevant to the business problem.\nAbility to present information professionally and concisely with supporting data.\nPrevious experience as a data scientist in semi-conductor industry or data intensive organizations is a plus.\nExperience in creating powerful data driven visualizations to describe ML modeling results to stakeholders.',
 'We wont say we can predict the future, but our team of Analysts get pretty close, they turn millions of data points into useful information & insights that help our clients to make better decisions on their marketing mix and achieve superior results. Be part of the future and join in on one of the major transformations in the market research industry with the integration of big data and classic marketing mix analysis.\n\nResponsibilities:\nDeliver as a part of our consultant team in driving high quality results on custom project work\nEnsure effective and timely delivery of project work\nWork towards understanding statistical models and deliver business insights and findings\nEnsure compliance to Marketing Mix Modeling modeling practices and company quality standards\nMaximize the efficient and effective use of resources by utilizing appropriate processes and tools\nTo build and maintain effective contacts with other departments to ensure the efficient and effective use of resources\nLiaise with appropriate Marketing Mix Modeling and Nielsen departments to ensure hardware and software requirements are fulfilled\nWork with co/ third party modellers to deliver business insights and findings\n\nQualifications and Skills\n2-5 years of relevant experience\nMasters degree in Economics, Mathematics, Statistics, Engineering\nIn-depth understanding of statistical modeling techniques and applications\nGood and working knowledge of any statistical languages like SAS, R, Pythons\nSolid proficiency of decision making and problem resolution skills\nPassion for results with a challenger mindset\n\nAbout the Team:\nGlobal Product, Technology & Operations supports Nielsen Medias growth strategy by enabling positive client and market solutions. Our Operations Team is in a unique position as the center of data collection, analysis and delivery. We deliver outcomes with the highest quality and integrity standards in an agile and transparent way while standing by our Nielsen values.',
 '---',
 '---',
 'Responsibilities and duties Focus on developing clear and concise analytical approach for problem solving with client partnership\nStrong understanding of ML libraries and applications e.g. Neural Net, SVMs, boosting methods and implementation using R/Python. Should have academic paper level understanding of math e.g. linear algebra, calculus etc.\nAbility to code on SAS/R for data munging, analysis and insights and/or languages like Python for creating efficient production ready code\nManaging delivery of projects including timely communication, setting milestones and tracking Generating actionable insights for business/KPI improvements Ability to work independently, structure analyses and handle multiple priorities Develop and Maintaining Credit Risk Models Strategies Rich experience in at least one production ready deployment of Machine Learning algorithms is a plus. Experience in working on real life large messy dataset to solve real business problems. Kaggle experience is a plus.\n  Skills Competencies: Experience in Financial Services/ Fintech/ BFSI along with Credit Risk in Retail Banking and Data Science 5 years of experience in building predictive models (Application Scorecard, Behaviour Scorecard, Collection Score Card, Loan Pricing, Loss Forecasting, Cross Sell Model) Experienced Statistical software skills (e.g. SAS, R, Python Strong understanding of ML libraries and applications. Strong experience in leading credit risk model development, validation, deployment, and documentation Analytically oriented with ability to grasp complex risk management strategies, processes, models and draw insights / identify areas of opportunity\nStrong track record of delivering on high value / critical projects. Ability to communicate with senior stakeholders crisply and confidently on findings, status, bottlenecks, and escalations\nProven track record of delivering in a start-up environment would be a plus Strong written and oral communication skills',
 '---',
 'Business & Team overview:\nFounded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.\n\nHuawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network.\nEnterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities.\nConsumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.\n\nThis opportunity is belong to Huawei Consumer Business Group.\n\nDriven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.\n\nHuawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers\n.\nIn 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages:\n1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones\n2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users.\n3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms\n\nJob Title: Lead Data Scientist\nWe are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.\n\nResponsibility:\nAnalyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads.\nTakeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads.\nTakeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology.\nTo build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform\nOptimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.\n\nRequirements:\n- Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc.\n- Programming experience with Python\n- Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance\n- AdServing domain Experience is an added advantage',

In [71]:
print(len(full_job_description),len(organization_name),len(job_location),len(job_title))

20 20 20 20

In [72]:
df1=pd.DataFrame({})

In [73]:
df1['Job_title']=job_title

In [74]:
df1['job_location']=job_location

In [ ]:
df1['company_name']=company_name

In [75]:
df1['full_job_description']=full_job_description

In [76]:
df1

,Job_title,job_location,full_job_description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job Role : Data Scientist/Data Analyst /Busine...
1,Lead Data Scientist,Bangalore/Bengaluru,We are seeking an outstanding Lead Data Scient...
2,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...","We wont say we can predict the future, but our..."
3,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",---
4,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",---
5,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Responsibilities and duties Focus on developin...
6,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",---
7,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,"Business & Team overview:\nFounded in 1987, Hu..."
8,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,"Business & Team overview:\nFounded in 1987, Hu..."
9,Data Scientist,Bangalore/Bengaluru,---
10,Senior Data Scientist - Chatbot & NLP,Bangalore/Bengaluru,"What You Will Do\nWork with Data Scientists, M..."
11,Senior Data Scientist - Chatbot & NLP,Bangalore/Bengaluru,"What You Will Do\nWork with Data Scientists,..."
12,Hiring For Lead data Scientist For Bangalore l...,Bangalore/Bengaluru,We are hiring for Lead data Scientist for Bang...
13,Senior Data Scientist - Kinara Capital,Bangalore/Bengaluru,We are looking for a smart and experienced ana...
14,"Senior Data Scientist, Marketing Analytics",Bangalore/Bengaluru,The successful candidate will primarily focu...
15,Data Scientist,Bangalore/Bengaluru,---
16,Data Scientist/ Senior Data Scientist,Bangalore/Bengaluru,Be part of something revolutionary\nWe have a ...
17,Principal Data Scientist,Bangalore/Bengaluru,---
18,Lead Data Scientist /Sr. Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Roles and Responsibilities\n\n8+ years experie...
19,Data Scientist,Bangalore/Bengaluru,WHAT WE NEED\nPh.D. or Masters or Bachelor's i...

In [77]:
df1n=df1.iloc[0:10,:]

In [78]:
df1n

,Job_title,job_location,full_job_description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job Role : Data Scientist/Data Analyst /Busine...
1,Lead Data Scientist,Bangalore/Bengaluru,We are seeking an outstanding Lead Data Scient...
2,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...","We wont say we can predict the future, but our..."
3,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",---
4,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",---
5,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Responsibilities and duties Focus on developin...
6,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",---
7,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,"Business & Team overview:\nFounded in 1987, Hu..."
8,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,"Business & Team overview:\nFounded in 1987, Hu..."
9,Data Scientist,Bangalore/Bengaluru,---

# Q2 completed

# Starting Q3

In [258]:
driver2=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [259]:
url='https://www.naukri.com/'

In [260]:
driver2.get(url)

In [261]:
title=driver2.find_element_by_id('qsb-keyword-sugg')
title
title.send_keys('Data Scientist')

In [262]:
search=driver2.find_element_by_xpath("//button[@class='btn']")

In [263]:
search.click()

In [264]:
filter1=driver2.find_element_by_xpath("//span[@title='Delhi / NCR']")

In [265]:
filter1
filter1.click()

In [266]:
fliter2=driver2.find_element_by_xpath("//span[@title='3-6 Lakhs']")

In [267]:
fliter2
fliter2.click()

In [214]:
title=driver2.find_elements_by_xpath("//div[@class='info fleft']/a['title'][1]")

In [215]:
title

[<selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="05237709-0ccb-4798-b5ef-030cec768747")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="5b3dcd27-a6c2-452d-adce-59201ae5ebca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="232d9fd2-23c2-4bec-87b1-c6ade9eff38b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="a957a328-fc3a-482d-ac90-d3988fd01d72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="f720022c-9b05-4f0f-9d31-28cad7fe45d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="5ee52132-2c92-4353-a258-4be4e625365a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="74a38aa2-d3c2-412f-b1d1-955007b6ae79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="c5762a02-aa61-4f92-8a85-32d014ffbabc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="bdd55ae2-789e-4ee3-bdf1-08086bf2ef9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="086379ac-6dbe-40a5-9389-823fef8ec6d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="0b909e27-466f-4c10-81d7-f5c360903b23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="448e6067-5b7a-4ed1-bcd8-2f66d9192ecb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="fc5e3f0f-299a-462a-9a4d-4429ce7e95da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="c2af39cc-b17f-43fa-afba-d569e8ecd04f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="7878b036-92ea-4169-800f-f280fd5a82bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="1b4e48ed-8fca-4bd7-8c85-bc878cdfd6f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="af3706b4-1a8a-45e2-9a4e-058db6f56d66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="f87b3a05-49dc-49dc-8abd-0337a9870093")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="153b13b8-23f4-44b3-ada7-5469ff722ade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="92812d8c-35a6-4ee3-b3b9-8727aaba355a")>]

In [216]:
job_title=[]
for i in title:
    job_title.append(i.text)
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Senior Data Scientist II 5+ yrs II Gurgaon',
 'Excellent opportunity For Data Scientist',
 'Data Scientist',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'Data Scientist - Noida',
 "Data Scientist - Noida/ B'lore",
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist/ Data Analyst/ Data Engineer',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Data Scientist',
 'Data Scientist']

In [231]:
location=driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [232]:
location

[<selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="5efdaa4d-79bb-437d-a891-6b44c3649907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="50e653b8-12c0-4858-a8be-17383dc9054e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="8cc94685-53d9-4924-88c6-228eaf4b7551")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="b817ec7e-2633-42bd-88c9-0f8b79e52d4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="ccc97124-2110-49e4-bf95-983a18783da8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="2e7d3d83-292f-4c4a-ad00-f9fbeb701ef2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="2ff4d04e-095a-401e-999b-0a0067a50cd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="d41a0fc5-e096-44e4-8228-4eed22a08c63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="f0be677a-d7d5-4c05-9620-61c81cb7bac9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="775a8082-e4c5-4f58-b31d-bc2c471ca4f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="0b017cd6-2333-47f3-a3ce-ca6a49667638")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="306dfdf1-0d54-4bf7-b423-48f67e06e684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="0d6dd2b3-7630-4049-a322-ac0bd3481a10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="7bb0f5bc-6ff0-40ea-89fc-bf5eeebb37cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="ae1501f1-561c-4fef-82c4-8284578f9154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="52b0d51e-2676-41d8-ba25-283b7b102992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="502442bc-e654-4ed8-ae4c-205dd691521b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="45abf084-f211-40d5-8eb7-ebb9fff524e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="abcbb8f3-819a-44b2-af81-62f74f2bf9e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="4c76c0b2-a9a8-4c86-97cd-117b9f687cc6")>]

In [233]:
job_location=[]
for i in location:
    job_location.append(i.text)
job_location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'Delhi',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Chennai',
 'Delhi',
 'New Delhi',
 'Delhi',
 'Gurgaon/Gurugram',
 'Mumbai, Delhi / NCR',
 'Gurgaon']

In [240]:
name=driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [241]:
name

[<selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="8a9167d4-d068-431b-b358-86c981d2db33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="8b0acffd-5327-4cd8-8895-3fde7e797456")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="599faf04-c2fd-4da0-9602-00dce5571b37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="c4a2fce3-8537-4221-9012-8bdb0afb195c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="847b8b8c-1395-4df9-a305-edff6fdc4e77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="4b080ce1-b089-435c-9491-47e6b7b33102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="6a5b72bc-c635-43b3-8adc-f65ef9ca5e54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="9157c665-7146-4331-8feb-cbb731d44146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="8c237a69-f21c-4d59-a5cc-e3e6bc3253de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="fdb96a5f-ca24-40ba-9ff8-3a0861cc1d0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="3c741e8a-25e9-4b90-a9b3-b4f3926aadda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="1610210f-fe61-433d-a09c-0925c333686a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="15b9341d-c6f4-4708-abc4-3a1434d81798")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="070be03b-4840-4226-84df-c7643c7deafa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="e17d86cb-71c4-4f4e-a176-2624c67e8c3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="23f7e4ee-a979-498f-8290-14983e3903c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="d7078c03-75d9-4e71-94c0-405e7b898aeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="6c349ec3-8920-4b5d-a1e9-2d8e9f11ff81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="5e3b2da7-a5d9-4ee4-937b-2957c5ab3ed9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="0c7f3285-9c76-4a6e-878d-5db55341b09c")>]

In [242]:
organ_name=[]
for i in name:
    organ_name.append(i.text)
organ_name

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited',
 'Zenatix Solutions Private Limited',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Mobikwik',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Optum Global Solutions (India) Private Limited',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Cloudstrats Technologies Private Limited',
 'Country Veggie',
 'iNICU',
 'BlackBuck',
 'LANCE LABS PRIVATE LIMITED',
 'Sentieo',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Delhivery',
 'VBPO India Pvt Ltd.',
 'itForte Staffing Services Private Ltd.']

In [246]:
exp=driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span['title']")

In [247]:
exp

[<selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="eed24f23-9e4f-43e4-926c-94b5c6fd5abb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="7ad31d6f-8d39-44d8-860e-6dbe93397871")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="a77ad988-c629-49f0-bd3d-b6348c853456")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="5af3ccd0-c42d-4f41-804d-7b760ae295c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="880e4ce3-c37f-4c25-9496-7be4c988274e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="a68d291c-ea11-41e4-a44f-3f89773d30ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="e80d860c-78e6-4ec0-8487-db8d92b10803")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="02c2b957-2fe0-4805-b60e-1eea0307bd69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="3b0b72eb-9191-43ef-b16c-80eae59fd7f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="c2339a95-91b8-4321-919b-e11e2d1385ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="4a8438ca-347f-43fe-a389-e836ad66d936")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="62da3bf4-4499-4036-8d52-573dd7b4cd53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="efc362b2-617b-49a8-8d33-c72b37cd09cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="9224d084-246a-4e16-88ee-280ffe4814ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="33bcaf69-3858-48ed-a56e-838e73c446ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="0928feda-0996-407a-9fa2-13aa478486e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="24d1bf93-9f40-4c00-a9d9-d74b85313c4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="5907c3a5-1630-475f-8042-e8993e6a90e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="d47ed11e-ec37-4fda-a0ff-31be8476467f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="99f72136bc3e523486e05a0baaf23a03", element="5b954a58-1424-4725-980e-cb09c65aa058")>]

In [248]:
experience=[]
for i in exp:
    experience.append(i.text)
experience

['0-3 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '1-3 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '0-3 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

In [250]:
print(len(job_title),len(job_location),len(organ_name),len(experience))

20 20 20 20

In [251]:
import pandas as pd

In [252]:
df=pd.DataFrame({})
df['Job_title']=job_title
df['job_location']=job_location
df['Company_name']=organ_name
df['experience']=experience

In [253]:
df

,Job_title,job_location,Company_name,experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
2,Senior Data Scientist II 5+ yrs II Gurgaon,Gurgaon/Gurugram,Zenatix Solutions Private Limited,5-10 Yrs
3,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
4,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
7,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
8,Data Scientist - Noida/ B'lore,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Cloudstrats Technologies Private Limited,5-8 Yrs
10,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
11,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
12,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",BlackBuck,3-7 Yrs
13,Data Scientist/ Data Analyst/ Data Engineer,"Noida, Chennai",LANCE LABS PRIVATE LIMITED,0-3 Yrs
14,Data Scientist,Delhi,Sentieo,2-7 Yrs
15,Data Scientist,New Delhi,Mahajan Imaging,2-6 Yrs
16,Data Scientist,Delhi,Mahajan Imaging,2-6 Yrs
17,Data Scientist Machine Learning,Gurgaon/Gurugram,Delhivery,1-3 Yrs
18,Data Scientist,"Mumbai, Delhi / NCR",VBPO India Pvt Ltd.,3-6 Yrs
19,Data Scientist,Gurgaon,itForte Staffing Services Private Ltd.,3-8 Yrs

In [256]:
df1=df.iloc[0:10,:]

In [257]:
df1

,Job_title,job_location,Company_name,experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
2,Senior Data Scientist II 5+ yrs II Gurgaon,Gurgaon/Gurugram,Zenatix Solutions Private Limited,5-10 Yrs
3,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
4,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
7,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
8,Data Scientist - Noida/ B'lore,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Cloudstrats Technologies Private Limited,5-8 Yrs

# Q3 completed

In [206]:
driver4=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [207]:
url='https://www.glassdoor.co.in/index.htm'

In [208]:
driver4.get(url)

In [209]:
job_search=driver4.find_element_by_id('sc.keyword')

In [210]:
job_search

In [211]:
job_search.clear()

In [212]:
job_search.send_keys('Data Scientist')

In [215]:
job_loc=driver4.find_element_by_id("sc.location")

In [216]:
job_loc

In [217]:
job_loc.clear()

In [218]:
job_loc.send_keys('Noida')

In [220]:
search=driver4.find_element_by_xpath("//button[@type='submit']/span")

In [221]:
search

In [222]:
search.click()

In [233]:
com_name=driver4.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

In [234]:
com_name

[<selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="95f1ae48-d47c-439d-95c2-ce79cae2b227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="0504e6ae-67eb-4f56-83f2-1058605e3899")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="f7c321c0-d8b8-40f0-8a24-3da1b28dcaf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="48c22c96-c6cb-494b-90bd-d991f0756915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="ab0685bb-89b0-4568-a33f-3be28279e495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="ddd0403a-0566-4cdb-a7ce-a19369b70898")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="05824c4b-ca93-4a1f-be8e-8c571e2b849b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="ed0c2691-bb12-4cec-93d7-edfd797874dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="367ec9bd-1cd8-4c66-92d3-1d05647971ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="bad4afbb-db7e-4074-9799-7b8af6377d1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="aee6489f-5546-4de6-a721-b2d4eb5d5412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="d69c8133-3736-4af0-9c06-d442aa950cb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="02c8b3d5-be65-4456-92d8-5621844b611a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="d1aaed53-cdd0-4d17-9101-4b7f32032883")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="5f447aef-bde1-405a-8dad-ddc0656e72a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="281f8f0d-ae9c-4be7-bb9a-01de566a269e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="2c1da375-fdda-4241-8fc0-62b1266aa12d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="6e67663e-c04b-4292-a22e-1f6bd680d315")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="afcefff7-8271-439d-87c1-40a226f22af9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="ac640059-00f7-4c98-9bf7-428d3f9acb6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="e863a8ce-05ff-4d49-810d-76b03a05f653")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="7c76162e-2729-4f02-992a-2e8f6c78b41f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="0e2e3bef-fc3d-4ee1-8921-b74b55170ab7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="760850f1-8ab0-4cf7-ba39-89a399610d9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="2a069946-df5d-405d-b48b-8491bbdba6d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="fc057a93-d49c-436c-95bc-b35b73ef4303")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="ca708cab-8694-4519-b0fc-ecc9f8e1bc94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="84da0320-438a-4154-9183-a59b1065de14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="d1100bf8-86ed-4612-84c1-80002ce8e4a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="94433a30-5dfd-4fa3-9f18-58343f0d05e1")>]

In [235]:
comp_name1=[]
for i in com_name:
        comp_name1.append(i.text)
comp_name1

['Biz2Credit Inc',
 'Ericsson',
 'CRMNEXT',
 'CRMNEXT',
 'Techlive',
 'Salasar New Age Technologies',
 'ANI Calls India Private Limited',
 'Sparkbpl',
 'Salasar New Age Technologies',
 'SearchUrCollege',
 'WishFin',
 'Skyjobs hr services',
 'Galaxy Card',
 'xtLytics',
 'ANI Calls India Private Limited',
 'Adobe',
 'HDFC Bank',
 'Innovacer',
 'Dürr Somac GmbH',
 'Adobe',
 'Dürr IT Services India',
 'dunnhumby',
 'xtLytics',
 'ANI Calls India Private Limited',
 'UnitedHealth Group',
 'Priority Vendor',
 'Nitesh Kumar',
 'Lantern Digital Services',
 'Emerging India Group',
 'Mind Works Global']

In [236]:
job_post=driver4.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [237]:
job_post

[<selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="b3fd11b3-b7aa-4446-abc9-de2c6c6ad7f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="ae932736-7114-4b32-bd2f-ca7a061100ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="e47ca563-d72d-454d-954f-be349e13b8d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="0c2e7ce5-bf9b-4606-a7a1-e8d0dfba1ab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="13e0e860-140d-4616-a637-35bdf893565d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="4338e765-7963-45dd-80c2-2d2675ace056")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="a13f326d-deb0-4dc4-8d59-4db306d8a6ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="8cc939a5-77aa-490e-8221-24709c40403f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="4dbf7cf8-36ee-401b-af4b-c8aaa593c760")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="9a8feea5-22a1-4d76-aed2-4c4cdc642b15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="013c9a79-6280-42a3-9355-61f73a7ab355")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="7145c102-18c1-4d83-86fc-4ee66e8a371e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="1176274e-80f7-42f2-b855-6f0eac3285c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="40dd8305-2d03-402b-a8d5-e7efa8e47bab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="4ebe570f-1a22-4938-989e-3524775610a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="7aa9e601-353f-4fe1-9aac-290e3adcf445")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="b226410b-8da5-438f-96c5-9c9f14042443")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="3851a225-da13-47d6-be1c-3ac2d282f6ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="17b306a6-df58-4d2c-a877-c58221513370")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="30cc9808-363f-4f4b-abc9-ff547d5dba85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="060c6da0-fe2b-403c-9a02-ee2dbb4ad4df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="521ca868-c3f1-4163-9c10-8b42cf43ecba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="2480d109-bf34-4f1e-93f2-9a2d2cd3c08e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="9d824bef-4e72-4186-a8d3-faca338c41bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="c6a7b68c-fc97-4df5-be7c-89b3d7e79ee2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="c7e177fb-6237-44b8-94e9-12ff43ecc80c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="5c0335cd-f807-4b38-8b63-850b05eb9ff4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="0970598e-8b15-4717-b927-e36c6f8276c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="01e80efb-2b2c-4976-ae88-3c8babc4370c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="0025a5ca-cafd-4fcc-bf50-19feb50d1ed1")>]

In [238]:
job_post_date=[]
for i in job_post:
    job_post_date.append(i.text)
job_post_date

['30d+',
 '8d',
 '6d',
 '6d',
 '30d+',
 '30d+',
 '30d+',
 '7d',
 '30d+',
 '30d+',
 '30d+',
 '24h',
 '12d',
 '30d+',
 '30d+',
 '24h',
 '30d+',
 '26d',
 '30d+',
 '18d',
 '30d+',
 '6d',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '3d',
 '30d+',
 '6d',
 '11d']

In [239]:
review=driver4.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [240]:
review

[<selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="ad830e66-85a1-40d2-8857-c89955e9a3c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="a0d24cf0-f4b7-483a-ac12-08073a3a3bcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="e95cdebd-140e-4530-9558-3c2d046916f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="a732f9fc-80b4-4373-a2e4-19f91f0f64f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="4d9c17e1-0c6d-48fe-97c9-a07b7663d666")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="300b4a66-f0c0-436b-9057-78f374403459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="71843799-c1b5-44ea-bc61-1886202f6cab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="83e7219d-f5ee-4668-9bda-b17f5df71345")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="2ff40142-1213-47f5-8f16-f334ab9eb849")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="08a5dde7-23a2-4542-8e70-7de5bfc81138")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="784690ba-4413-44f1-85c8-b1de1486e6fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="994d9960-4d5f-47b5-961c-64b0ad32ddf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="4fe795aa-5e6d-4a82-890c-d87b1af242b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="6a6a4aff-87c0-4269-bbe8-1d3bd000fd2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="370f8cbb-1e99-4716-ad3f-0e61fced516f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="e4884f39-6989-4493-ad9c-fb42c266273e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="6b66fbff-c913-4243-b1d7-d2ab7eaef963")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="472ab24b-ca06-4e34-9eb1-bd7ceea9964a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="c50b00cc-2ff7-4f56-9a1c-cdfce6c56cd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="675b00b1083a86e6271c0319488ef534", element="f3f819f6-2c09-4c3a-b577-275b27b87cc9")>]

In [241]:
reviews=[]
for i in review:
    if i.text is None:
        reviews.append(0)
    else:
        reviews.append(i.text)

In [242]:
reviews

['3.8',
 '4.1',
 '3.6',
 '3.6',
 '5.0',
 '3.8',
 '3.0',
 '4.4',
 '3.6',
 '3.5',
 '4.4',
 '4.0',
 '4.1',
 '3.0',
 '3.6',
 '3.7',
 '3.8',
 '3.6',
 '1.9',
 '3.1']

In [244]:
print(len(reviews),len(job_post_date))

20 30

In [245]:
reviews.insert(5,'0')

In [247]:
reviews.insert(6,'0')
reviews.insert(7,'0')
reviews.insert(8,'0')
reviews.insert(9,'0')
reviews.insert(11,'0')
reviews.insert(12,'0')
reviews.insert(14,'0')
reviews.insert(18,'0')
reviews.insert(23,'0')

In [248]:
reviews

['3.8',
 '4.1',
 '3.6',
 '3.6',
 '5.0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3.8',
 '0',
 '0',
 '3.0',
 '0',
 '4.4',
 '3.6',
 '3.5',
 '0',
 '4.4',
 '4.0',
 '4.1',
 '3.0',
 '0',
 '3.6',
 '3.7',
 '3.8',
 '3.6',
 '1.9',
 '3.1']

In [251]:
print(len(comp_name1),len(job_post_date),len(reviews))

30 30 30

In [252]:
df5=pd.DataFrame({})
df5['Organization_name']=comp_name1
df5['job_posting']=job_post_date
df5['reviews']=reviews

In [253]:
df5

                  Organization_name job_posting reviews
0                    Biz2Credit Inc        30d+     3.8
1                          Ericsson          8d     4.1
2                           CRMNEXT          6d     3.6
3                           CRMNEXT          6d     3.6
4                          Techlive        30d+     5.0
5      Salasar New Age Technologies        30d+       0
6   ANI Calls India Private Limited        30d+       0
7                          Sparkbpl          7d       0
8      Salasar New Age Technologies        30d+       0
9                   SearchUrCollege        30d+       0
10                          WishFin        30d+     3.8
11              Skyjobs hr services         24h       0
12                      Galaxy Card         12d       0
13                         xtLytics        30d+     3.0
14  ANI Calls India Private Limited        30d+       0
15                            Adobe         24h     4.4
16                        HDFC Bank        30d+     3.6
17                        Innovacer         26d     3.5
18                  Dürr Somac GmbH        30d+       0
19                            Adobe         18d     4.4
20           Dürr IT Services India        30d+     4.0
21                        dunnhumby          6d     4.1
22                         xtLytics        30d+     3.0
23  ANI Calls India Private Limited        30d+       0
24               UnitedHealth Group        30d+     3.6
25                  Priority Vendor        30d+     3.7
26                     Nitesh Kumar          3d     3.8
27         Lantern Digital Services        30d+     3.6
28             Emerging India Group          6d     1.9
29                Mind Works Global         11d     3.1

In [254]:
df6=df5.iloc[0:10,:]

In [256]:
df6

                 Organization_name job_posting reviews
0                   Biz2Credit Inc        30d+     3.8
1                         Ericsson          8d     4.1
2                          CRMNEXT          6d     3.6
3                          CRMNEXT          6d     3.6
4                         Techlive        30d+     5.0
5     Salasar New Age Technologies        30d+       0
6  ANI Calls India Private Limited        30d+       0
7                         Sparkbpl          7d       0
8     Salasar New Age Technologies        30d+       0
9                  SearchUrCollege        30d+       0

# Q4 completed

In [317]:
driver5=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [318]:
url='https://www.glassdoor.co.in/Salaries/index.htm'

In [319]:
driver5.get(url)

In [320]:
keywords=driver5.find_element_by_id('KeywordSearch')

In [321]:
keywords

In [322]:
keywords.send_keys('Data Scientist')

In [323]:
loc=driver5.find_element_by_id('LocationSearch')

In [324]:
loc

In [325]:
loc.clear()

In [326]:
loc.send_keys('Noida')

In [327]:
search1=driver5.find_element_by_id('HeroSearchButton')

In [328]:
search1

In [329]:
search1.click()

In [330]:
companies_name=driver5.find_elements_by_xpath("//p[@class='m-0 ']")

In [331]:
companies_name

[<selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="8c272ce6-c1e5-4000-bea0-66bb65ac432f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="2fe70c82-6b6a-4168-a8d4-7a13ce53a823")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="889abcea-11cb-4f5c-a705-e68f215e4cdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="d9336a2e-384b-4d58-bed5-23605c72073a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="c3cec507-faaf-4301-bb1d-8783d1119bad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="f0a88384-db6f-4c84-95d2-b8180bbb6a0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="92f2a765-ac38-4199-9b86-b7e1fcfad273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="670fa5c3-ff68-4ec6-bad0-a5580bb82502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="85e32558-dca2-4feb-b596-cf9d9c079e13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="263e16e4-f534-4ca1-83c3-9742df7b5611")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="a9f71faa-c72c-4018-b04b-a062c470fd4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="6aa41bb8-e780-435a-a186-23c9d32e4d0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="a320df89-9b2e-4bdf-9318-7f25ecc5e07a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="5b8994d5-f5a7-49b5-ac3a-67422fd3b85f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="f9c1723d-2f5b-45c7-8dc9-a0481575ade1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="1bdf40b5-7c7f-4f3b-a689-0651f9c6de93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="caf4fd0b-c1a1-4928-a6fa-f27a24ff6e47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="30afc675-7121-4ea7-9354-184fbebc5dac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="fa7c02a2-e843-4482-abdf-5d5fbce60ac6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="c288e78d-ea75-45f8-b75d-3854727e48c3")>]

In [332]:
company_name=[]
for i in companies_name:
    company_name.append(i.text)
company_name

['Tata Consultancy Services',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'Accenture',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'Optum',
 'Tech Mahindra',
 'OYO',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Algo8.ai',
 'Amazon']

In [335]:
no_of_salary=driver5.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")

In [336]:
no_of_salary

[<selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="a9318a98-676a-4e91-a4c4-458da9931761")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="dc4100af-5cea-4d69-bf28-1325611c7b72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="b82415cf-ed2b-472b-9f3d-7fcae79bc6f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="a1e535b8-2bee-406d-93a4-d02786283522")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="5bee11eb-28ca-439b-b8c6-39a2e924b6d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="9b106c26-ec32-4717-99a2-d40a13ea72f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="73fd8b7b-c1a1-419d-8a94-dbc870f7e8a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="d9e7a227-bc8c-4927-a36b-9f1e80eeb34c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="87d8c17d-3b94-4632-9509-ad3b9fe13346")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="2757c667-26a1-4e8f-bcf2-1c20d6c957b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="ee43acb8-2223-4a59-943a-d4582b54a761")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="837ceca4-ba24-453e-888c-241f86271114")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="936638ab-232d-4b42-a588-06352a4f42de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="51ff135c-2636-44fe-b0de-e29adecdf264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="20460d34-7bff-4ea5-b90d-3b459835e627")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="e119f070-d9db-4b20-bddf-c31738890b06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="47f28eb7-1f5a-4cf9-b8a9-334b8f693bff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="36c77469-894c-44f6-860d-a0891fc35b34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="4c259c67-f77f-4b92-a95e-1e5ce038729f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="7b79847e-f17c-4673-aa54-39cd1e3b111e")>]

In [337]:
number_of_salary=[]
for i in no_of_salary:
    number_of_salary.append(i.text)
number_of_salary

['16 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '13 salaries',
 '11 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '4 salaries']

In [338]:
avg_sal=driver5.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")

In [339]:
avg_sal

[<selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="6199defe-ac18-4d72-afe9-738e858e4529")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="91b7de42-ee73-4514-8b26-cfe3ca4f73b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="7a8ffab3-fa4f-4e6e-a7b7-6e4acf960f7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="b780ad0b-04c0-4ee9-9197-dcb5cc45b091")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="5ec4931c-c44b-454e-a77b-dbf059823bea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="e9606d45-445b-4e3d-96a2-58fee2e2d40f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="7be2d534-1d95-4f73-9192-826accbd7fee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="1260270f-3437-40f2-a5b9-c5965cd19804")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="ae1c6f87-60db-4258-b5ec-89c6ffdef72b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="16087bd0-babf-4802-90da-60719edef167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="483ee94d-9e91-4f1b-bd09-90a332d3ddbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="bb8f665e-6229-47da-aab9-d2ba6f792012")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="4bb3c27f-2f51-4bc5-a691-63510f949b99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="4a700f4d-09e7-459d-a068-064b34364628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="429900e2-f9dc-42b6-aa35-6046abfc22ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="6d0b585f-76d2-407d-8559-74a43691db04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="a81ce2a3-c118-4b11-a70e-10b0a8b6b188")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="b5134afd-a241-4a33-a986-0ce8dce28f86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="3a0370de-17fe-4020-baa1-76ca1155467a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="7fd6b677-eb89-401a-b4ad-0a09455f5a4d")>]

In [340]:
average_salary=[]
for i in avg_sal:
    average_salary.append(i.text)
average_salary

['₹ 5,97,967',
 '₹ 8,79,486',
 '₹ 7,15,984',
 '₹ 12,12,741',
 '₹ 10,97,744',
 '₹ 12,96,182',
 '₹ 7,90,812',
 '₹ 11,19,962',
 '₹ 11,10,022',
 '₹ 13,93,451',
 '₹ 11,81,047',
 '₹ 9,77,281',
 '₹ 12,89,447',
 '₹ 10,21,234',
 '₹ 13,70,817',
 '₹ 9,32,892',
 '₹ 11,00,000',
 '₹ 15,412',
 '₹ 6,75,000',
 '₹ 15,00,000']

In [342]:
min_sal=driver5.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")

In [343]:
min_sal

[<selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="364b1bc8-a7b4-4ef9-8be8-5a5b628c33d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="57aade82-dcdd-4591-91b6-79b1ec364a9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="4a36bd12-ad1f-42ae-b03e-1a81be5bc9a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="bf790164-b6ac-42de-aae2-f98154a821b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="305b2d93-2360-4262-b6e1-d5ee37b1b629")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="37f97512-c817-4994-983e-9bffbb4dd755")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="5c8fafa2-f650-41bc-835d-cabe52452314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="285cf215-6c7d-494e-bce1-153a4083704b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="787a7ea3-af75-4db7-b3a5-b0d38b7ac92e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="1dd38b63-3389-472b-a590-6dcb0c09dd5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="d1444809-a6d9-4503-b692-11c2de4b2646")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="3199e9af-be13-4770-946f-61b6d821bfb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="f9dbb424-fcf9-4f15-8d00-416e609bb131")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="6ac7a725-26fe-47fd-8066-2b909098116e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="dffd54ca-2589-436d-baa6-77ad385e5f2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="404a75b3-65c1-4517-9ed8-4be1be5866fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="2e331751-010f-459e-865f-87c7622ff0a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="de2916a1-d21d-4a5b-803d-495cc3c82059")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="1cbbc96d-3b0a-4f9d-9262-a4cb9d0c7b42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="54ff757d-41a9-486d-965d-a7736fb8dbf2")>]

In [344]:
minimum_salary=[]
for i in min_sal:
    minimum_salary.append(i.text)
minimum_salary

['₹333K',
 '₹569K',
 '₹350K',
 '₹436K',
 '₹560K',
 '₹1,037K',
 '₹487K',
 '₹196K',
 '₹558K',
 '₹1,000K',
 '₹602K',
 '₹769K',
 '₹783K',
 '₹400K',
 '₹942K',
 '₹400K',
 '₹793K',
 '₹12K',
 '₹83K',
 '₹749K']

In [345]:
max_sal=driver5.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")

In [346]:
max_sal

[<selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="442e2747-74fc-4410-bec2-a6a5d23cb9e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="12715c5c-9461-465d-841b-80fa6a4e8b7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="c28bdf04-0ce1-4a37-a6ab-2bfdbc8d97d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="0b47559c-5745-4465-8ae2-1267c118dda1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="70ec77c9-d34d-467e-8f4c-e3f907eb56c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="66df95d3-3410-439e-ac21-08b27731500f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="5920fd81-16ab-4c5d-bac8-77d7c415ec9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="0940bafa-858b-4e90-95ee-759fc2ff41e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="fa2a0588-130a-49bc-ab94-c1a2fdc04561")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="4ecb473e-a674-4cc7-ae38-db24f14aa856")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="f77522c7-cc18-4a7b-b761-d0ec3f23ecaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="dcadf429-a91a-462e-b9dd-72c2b2983e39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="f1752167-cf3b-4695-80e0-7825ab9effa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="a81f21e9-25fa-465b-83da-413952bf58a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="dec9123d-e784-4710-9306-671f9ae95bfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="ead9d07b-8e5f-4609-b9c8-e2c99b9fc29a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="f10e2036-3601-40aa-8c65-9d21f4eade4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="04554445-32c8-4ca1-9980-a74607fc0ff2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="ed9fce67-b858-4310-83b5-a35f4135eafa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab08acf770dabdaa5ec761db82a2effd", element="bd9258a9-750e-406f-8ac0-d6ab5c0e3a4b")>]

In [347]:
maximum_salary=[]
for i in max_sal:
    maximum_salary.append(i.text)
maximum_salary

['₹1,080K',
 '₹2,648K',
 '₹1,565K',
 '₹11,274K',
 '₹2,147K',
 '₹1,500K',
 '₹1,421K',
 '₹1,755K',
 '₹1,500K',
 '₹2,085K',
 '₹1,644K',
 '₹1,225K',
 '₹1,959K',
 '₹1,680K',
 '₹1,827K',
 '₹1,091K',
 '₹1,946K',
 '₹61K',
 '₹1,317K',
 '₹2,028K']

In [348]:
Ques5=pd.DataFrame({})
Ques5['company_name']=company_name
Ques5['number of salaries']=number_of_salary
Ques5['average salary']=average_salary
Ques5['minimum salary']=minimum_salary
Ques5['maximum salary']=maximum_salary

In [350]:
Ques5

,company_name,number of salaries,average salary,minimum salary,maximum salary
0,Tata Consultancy Services,16 salaries,"₹ 5,97,967",₹333K,"₹1,080K"
1,IBM,14 salaries,"₹ 8,79,486",₹569K,"₹2,648K"
2,Ericsson-Worldwide,14 salaries,"₹ 7,15,984",₹350K,"₹1,565K"
3,Delhivery,14 salaries,"₹ 12,12,741",₹436K,"₹11,274K"
4,Accenture,13 salaries,"₹ 10,97,744",₹560K,"₹2,147K"
5,UnitedHealth Group,11 salaries,"₹ 12,96,182","₹1,037K","₹1,500K"
6,Valiance Solutions,9 salaries,"₹ 7,90,812",₹487K,"₹1,421K"
7,ZS Associates,8 salaries,"₹ 11,19,962",₹196K,"₹1,755K"
8,EXL Service,8 salaries,"₹ 11,10,022",₹558K,"₹1,500K"
9,Optum Global Solutions,8 salaries,"₹ 13,93,451","₹1,000K","₹2,085K"
10,Innovaccer,8 salaries,"₹ 11,81,047",₹602K,"₹1,644K"
11,Cognizant Technology Solutions,6 salaries,"₹ 9,77,281",₹769K,"₹1,225K"
12,Optum,6 salaries,"₹ 12,89,447",₹783K,"₹1,959K"
13,Tech Mahindra,5 salaries,"₹ 10,21,234",₹400K,"₹1,680K"
14,OYO,5 salaries,"₹ 13,70,817",₹942K,"₹1,827K"
15,Nagarro,5 salaries,"₹ 9,32,892",₹400K,"₹1,091K"
16,dunnhumby,5 salaries,"₹ 11,00,000",₹793K,"₹1,946K"
17,Vidooly Media Tech,5 salaries,"₹ 15,412",₹12K,₹61K
18,Algo8.ai,5 salaries,"₹ 6,75,000",₹83K,"₹1,317K"
19,Amazon,4 salaries,"₹ 15,00,000",₹749K,"₹2,028K"

In [351]:
new_Ques5=Ques5.iloc[0:10,:]

In [352]:
new_Ques5

,company_name,number of salaries,average salary,minimum salary,maximum salary
0,Tata Consultancy Services,16 salaries,"₹ 5,97,967",₹333K,"₹1,080K"
1,IBM,14 salaries,"₹ 8,79,486",₹569K,"₹2,648K"
2,Ericsson-Worldwide,14 salaries,"₹ 7,15,984",₹350K,"₹1,565K"
3,Delhivery,14 salaries,"₹ 12,12,741",₹436K,"₹11,274K"
4,Accenture,13 salaries,"₹ 10,97,744",₹560K,"₹2,147K"
5,UnitedHealth Group,11 salaries,"₹ 12,96,182","₹1,037K","₹1,500K"
6,Valiance Solutions,9 salaries,"₹ 7,90,812",₹487K,"₹1,421K"
7,ZS Associates,8 salaries,"₹ 11,19,962",₹196K,"₹1,755K"
8,EXL Service,8 salaries,"₹ 11,10,022",₹558K,"₹1,500K"
9,Optum Global Solutions,8 salaries,"₹ 13,93,451","₹1,000K","₹2,085K"

# Question 5 completed

In [97]:
driver6=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [98]:
url='https://www.flipkart.com/'

In [99]:
driver6.get(url)

In [100]:
products=driver6.find_element_by_xpath("//div[@class='_3OO5Xc']/input")

In [101]:
products

In [102]:
products.send_keys('sunglasses')

In [103]:
search=driver6.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [104]:
search

In [105]:
search.click()

In [106]:
Url = []
nxt_page =driver6.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in nxt_page:
    Url.append(i.get_attribute('href'))

In [107]:
Url

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [108]:
len(Url)

11

In [110]:
import time
brand_name4=[]
description3=[]
price3=[]
discount3=[]
for i in Url[:3]:
    driver6.get(i)
    for j in driver6.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand_name4.append(j.text)
    for k in driver6.find_elements_by_xpath("//a[@class='IRpwTa']"):
        description3.append(k.text)
    for l in driver6.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price3.append(l.text)
    for n in driver6.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount3.append(n.text)

In [112]:
print(len(brand_name4),len(description3),len(price3),len(discount3))

120 120 120 120

In [113]:
df7=pd.DataFrame({})

In [114]:
df7['brand_name']=brand_name4

In [115]:
df7['description']=description3

In [116]:
df7['price']=price3

In [117]:
df7['discount']=discount3

In [118]:
df7

,brand_name,description,price,discount
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
1,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
...,...,...,...,...
115,Fastrack,UV Protection Round Sunglasses (52),"₹1,232",5% off
116,Fastrack,UV Protection Wayfarer Sunglasses (55),₹744,17% off
117,Fastrack,UV Protection Round Sunglasses (52),"₹1,243",4% off
118,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹853,5% off
119,Fastrack,UV Protection Round Sunglasses (52),"₹1,217",6% off

In [120]:
df7n=df7.iloc[0:100,:]

In [121]:
df7n

,brand_name,description,price,discount
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
1,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
...,...,...,...,...
95,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
96,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹777,22% off
97,ROYAL SON,"Gradient, UV Protection Round, Oval, Cat-eye S...",₹699,53% off
98,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,115",14% off
99,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off

# Question 6 completed

# Q7 starting

In [1]:
driver7=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

NameError: name 'webdriver' is not defined

In [ ]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

In [139]:
driver7.get(url)

In [140]:
total_reviews=driver7.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")

In [141]:
total_reviews

In [142]:
total_reviews.click()

In [148]:
Urls1=[]
next_page=driver7.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in next_page:
    Urls1.append(i.get_attribute('href'))
Urls1

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [165]:
ratings1=[]
summary1=[]
full_review1=[]

for i in Urls1[:10]:
    driver7.get(i)
    try:
        for a in driver7.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
           ratings1.append(a.text)
        for b in driver7.find_elements_by_xpath("//p[@class='_2-N8zT']"):
           summary1.append(b.text)
        for c in driver7.find_elements_by_xpath("//div[@class='t-ZTKy']"):
           full_review1.append(c.text)
    except NoSuchElementException:
        ratings1.append('-')

In [166]:
print(len(ratings1),len(summary1),len(full_review1))

98 100 100

In [168]:
ratings1.insert(98,4)

In [170]:
ratings1.insert(99,5)

In [171]:
len(ratings1)

100

In [172]:
df8=pd.DataFrame({})
df8['ratings']=ratings1
df8['summary']=summary1
df8['full_reviews']=full_review1

In [173]:
df8

,ratings,summary,full_reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Excellent,A perfect phone and a good battery super camer...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,4,Wonderful,Nice value for money good and best price I pho...
98,4,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
99,5,Value-for-money,As usual a great product from Apple. but the l...

# Question 7 completed

In [23]:
driver8=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [24]:
url='https://www.flipkart.com/'

In [25]:
driver8.get(url)

In [26]:
data=driver8.find_element_by_xpath("//div[@class='_3OO5Xc']/input")

In [27]:
data.send_keys('Sneakers')

In [28]:
search1=driver8.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [29]:
search1.click()

In [30]:
urls2=[]
nex_page=driver8.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in nex_page:
    urls2.append(i.get_attribute('href'))
urls2

['https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [36]:
brand2=[]
productdescription2=[]
price2=[]
discount2=[]
productdescription3=[]
url8=[]

for i in urls2[:4]:
    driver8.get(i)
    for j in driver8.find_elements_by_xpath("//div[@class='_2WkVRV']"):
               brand2.append(j.text)
    for l in driver8.find_elements_by_xpath("//div[@class='_30jeq3']"):
            price2.append(l.text)

In [32]:
urls = []

for page in range(0,4):
    
    product_url = driver8.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver8.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver8.get(nxt_button[1].get_attribute('href'))
    except:
        driver8.get(nxt_button[0].get_attribute('href'))
        
        
description = []
discount=[]        
for i in urls:
    driver8.get(i)
    desc=driver8.find_elements_by_xpath('//span[@class="B_NuCI"]')
    for i in desc:
        description.append(i.text)
    disc=driver8.find_elements_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span")
    for j in disc:
        discount.append(j.text)

In [41]:
discount.insert(160,20)

In [43]:
df4=pd.DataFrame({})
df4['brand']=brand2
df4['price']=price2
df4['description']=description
df4['discount']=discount

In [44]:
df4

,brand,price,description,discount
0,Birde,₹525,Sneakers For Men (Black),59% off
1,DUCATI,"₹1,199",casual for men Sneakers For Men (Black),52% off
2,Robbie jones,₹379,Casual Sneakers Shoes For Men Sneakers For Men...,62% off
3,Robbie jones,₹474,"Sneakers For Men (White, Black)",52% off
4,Numenzo,₹399,Sneakers For Men (White),60% off
...,...,...,...,...
155,ASIAN,₹629,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",48% off
156,Airland,₹259,sneaker men red 1258 - 6 Sneakers For Men (Red),57% off
157,ESSENCE,₹424,"Sneakers For Men (Silver, Black)",53% off
158,PUMA,"₹1,518",Acrux IDP Sneakers For Men (Grey),45% off
159,JUBENTA,₹549,Latest Design Sneakers For Men (White),20

In [45]:
df5=df4.iloc[0:100,:]

In [46]:
df5

,brand,price,description,discount
0,Birde,₹525,Sneakers For Men (Black),59% off
1,DUCATI,"₹1,199",casual for men Sneakers For Men (Black),52% off
2,Robbie jones,₹379,Casual Sneakers Shoes For Men Sneakers For Men...,62% off
3,Robbie jones,₹474,"Sneakers For Men (White, Black)",52% off
4,Numenzo,₹399,Sneakers For Men (White),60% off
...,...,...,...,...
95,BRUTON,₹719,Combo Pack of 5 Casual Sneakers With Sneakers ...,82% off
96,India hub,₹371,high quality casual sneaker shoes Sneakers For...,81% off
97,STRANGER BROTHERS,₹474,"Sneakers For Men (White, Brown)",52% off
98,Axter,₹299,Combo Pack of 2 Casual Loafer Sneakers Shoes S...,78% off
99,K K,₹404,Sneakers For Men (White),61% off

# Question 8 Completed

    # Question 9

In [59]:
driver9=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [60]:
url='https://www.myntra.com/shoes'

In [61]:
driver9.get(url)

In [62]:
price_button = driver9.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()

In [63]:
color_button=driver9.find_element_by_xpath("//html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_button.click()

In [64]:
urls4=[]
nb_page=driver9.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
for i in nb_page:
    urls4.append(i.get_attribute('href'))
urls4

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=10',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=2']

In [67]:
brand=[]
description=[]
price=[]
for i in urls4[:4]:
    driver9.get(i)
    for j in driver9.find_elements_by_xpath("//h3[@class='product-brand']"):
               brand.append(j.text)
    for l in driver9.find_elements_by_xpath("//h4[@class='product-product']"):
            description.append(l.text)
    for m in driver9.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(m.text)

In [71]:
len(price)

200

In [72]:
df6=pd.DataFrame({})
df6['brand']=brand
df6['description']=description
df6['price']=price

In [73]:
df6

,brand,description,price
0,Nike,Men JOYRIDE Running Shoes,Rs. 11246Rs. 14995(25% OFF)
1,ALDO,Men Textured Sneakers,Rs. 7199Rs. 8999(20% OFF)
2,Nike,Men AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
3,Nike,Men JORDAN DELTA Basketball,Rs. 12495
4,Nike,Women REACT ESCAPE Running,Rs. 6636Rs. 8295(20% OFF)
...,...,...,...
195,ADIDAS Originals,Men Support RF PK Sneakers,Rs. 6799Rs. 16999( 60 % OFF)
196,ALDO,Women Sandals,Rs. 9999
197,UNDER ARMOUR,Men Charged Engage Training,Rs. 6999
198,ADIDAS,Unisex Dame 7 Basketball Shoes,Rs. 8799Rs. 10999(20% OFF)
199,Puma,Women LQDCELL Running Shoes,Rs. 6999

In [74]:
df7=df6.iloc[:100,:]

In [75]:
df7

        brand                       description                        price
0        Nike         Men JOYRIDE Running Shoes  Rs. 11246Rs. 14995(25% OFF)
1        ALDO             Men Textured Sneakers    Rs. 7199Rs. 8999(20% OFF)
2        Nike        Men AIR ZOOM Running Shoes   Rs. 7721Rs. 10295(25% OFF)
3        Nike       Men JORDAN DELTA Basketball                    Rs. 12495
4        Nike        Women REACT ESCAPE Running    Rs. 6636Rs. 8295(20% OFF)
..        ...                               ...                          ...
95       Geox        Men Leather Formal Oxfords   Rs. 7867Rs. 10490(25% OFF)
96       Nike         Men REACT MILER 2 Running   Rs. 9770Rs. 11495(15% OFF)
97       Nike      Men REACT INFINITY RUN Shoes  Rs. 12320Rs. 14495(15% OFF)
98     Reebok        Men Nano X1 Training Shoes    Rs. 7499Rs. 9999(25% OFF)
99  Florsheim  Men Solid Leather Formal Loafers                     Rs. 6995

[100 rows x 3 columns]

# Question 9 completed

# question 10

In [236]:
driver10=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [220]:
url='https://www.amazon.in/'

In [221]:
driver10.get(url)

In [222]:
pr=driver10.find_element_by_id('twotabsearchtextbox')

In [223]:
pr.send_keys('laptop')

In [224]:
sear=driver10.find_element_by_id('nav-search-submit-button')

In [225]:
sear.click()

In [226]:
filter_button=driver10.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

In [227]:
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [228]:
from selenium.common.exceptions import NoSuchElementException
Title=[]
price=[]
Ratings=[]
titles=driver10.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
prices=driver10.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)
urls=driver10.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver10.get(url)
    try:                                                                     
          rating=driver10.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
          Ratings.append(rating.text)
    
    except NoSuchElementException:
         Ratings.append("NO rating")

In [143]:
print(len(Title))

10 10 10

In [199]:
driver10=webdriver.Chrome(r"C:\Users\Bhumik Shah\Downloads\chromedriver_win32\chromedriver.exe")

In [200]:
url='https://www.amazon.in/'

In [201]:
driver10.get(url)
pr=driver10.find_element_by_id('twotabsearchtextbox')

In [202]:
pr.send_keys('laptop')

In [203]:
sear=driver10.find_element_by_id('nav-search-submit-button')

In [204]:
sear.click()

In [205]:
filter_button1=driver10.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

In [206]:
filter_button1

[<selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="99eb2dc8-cab8-4ed5-9f9a-0642fe67a1eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="6a869a48-33e3-4f03-91b1-0677be82c86e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="9dc9fecb-f3f4-427a-a332-de469852f2a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="3377d25d-ba76-44ec-baed-a0b62e22ea9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="6971bb2e-a681-4a72-aa72-c29abd7cf67a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="8d3753ae-b62b-4965-9d26-a2c19116c378")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="3833251d-9f7b-459f-a24e-3b773f5b0a80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="77e5e388-2042-4b9d-ae31-f5f226315b1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="5b264bca-89e1-4417-a0df-2e22a9366dc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="298be598-1456-438d-88ec-4ab91a058139")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="23932cc3-9792-4144-9da8-2fe851bd0534")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a23102d3-4048-4a5e-87cc-c603cf6e5588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="2fa140c8-02e3-432f-b88d-a82292bf0162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a4b522ff-e4a2-4cba-9cd6-66579b14f494")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="bd2d02c0-3620-4d31-98ad-9c278a007f86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="06bc46df-4ac6-4a07-b68d-e70447fdeb60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="cc414f04-880a-4a99-a781-05f83ec6c96e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="e610330c-8d66-4763-b083-6ae791f20231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="ff4f8f1c-1c26-4b1a-9f79-cc63cf38c030")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="d7a53f36-1723-4e9f-b4ce-871755eaf33e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="aae42fd4-791b-4993-aed6-5eb0d829c2ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="69283b99-c886-422f-bfac-589deb56263d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="e83fecbb-38c8-485b-bdef-209f95fd577e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="c14c14b0-b63c-4cdd-9505-dae4d2325877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="863e78ac-505c-4704-81c8-10e6dc00fb48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="902ea6e4-7922-42eb-9545-e6dc1444213b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="05333111-ac94-4a47-8736-d405a17f6643")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="dbe4435f-1482-49e4-9c32-c17855e52db0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="b94b00a0-492e-4b29-aadd-d3ab206ae755")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="2d4b6f19-fa49-40ed-a3a5-19be9965bc8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="beab3d0c-a843-4cdf-a856-a76271d4bc7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="57a870cd-36da-4108-8fa9-31a63e78e11c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="8342d7ff-1025-414e-bf79-0dfeddb34ffd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="af8baf5e-b4ba-4b85-9e4e-bc048fa1f060")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="02a92e43-b8ba-4994-9c9e-fe603294c4d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a1e6b9bb-8ebf-4a2b-be2f-ffc59b8baa6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="1e1466d1-aa9c-4b93-93e6-74864b2fcc6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="b5baed77-02c6-4a0b-beb6-597971426043")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="df021414-8fb4-4ef7-8114-a1432326fa0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="fd8b6a20-5f40-4d92-89e6-37fb7cc5e0fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="edf18557-ef12-4dea-a1a2-09faa5d40781")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="040c1e26-a07e-45a1-8b7a-e43cdcd54acd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a7798db8-949d-4887-bb68-23bdf363cffa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="5c23cc6a-c128-4676-9422-aa35c034b533")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="bf55f4ae-4cb6-4af9-b686-c1c6109b1daf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="64cd86c8-ca64-4039-ab42-419dc2e1b1ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="0ebe8fb9-2e6f-44af-9f25-73cc99f10cbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="9a026ff6-1e78-4c84-a8e1-8469a4342a73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="47e2460d-17e9-47fe-b143-734be9b73e02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="f0b2df2a-a910-4777-b1ed-e6850725f4ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="af563777-4a6e-4c23-9c26-b7944def111f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="d5979e0a-9535-4ca2-89a8-ac604b8cc9f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="d92bc5d6-f44b-45f7-b5ac-a03d88710e3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="db40fa35-4e3a-427c-b686-ef5d55eba1d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a9abff70-3c64-496d-9e31-59b41134c9a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="b6464a0d-1b48-4acf-9103-244d867f2e93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="5a4c5f52-0776-4f39-ac34-6e51965aec6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="e05f57e2-db60-47b5-a7d7-fbb03dc1aa76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="14555054-a098-4698-878a-d0d257632837")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="71fab8a4-9792-4a6a-a72d-f495967db37f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="48a15174-0a1c-4172-b317-a3743371d8ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="15798836-06cc-4456-bbd2-4edae71ad38a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="61489f82-3b71-460c-a452-5eda5ee92cb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="ac07c371-7a62-49fe-ac9d-096ca7fe209f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a5b87dbf-d52e-4341-97a3-6c56c465f477")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a93e731a-9f75-4dea-a361-535ba87c82a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="b466c4e9-4c08-47fd-8393-901e127aad10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="9e5a7c68-b912-497e-a515-9dd0412eba00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="ef4119d4-9ad4-4721-b890-45381ea61d0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="d120dc8c-b11f-4511-83c9-178d5a4d3b60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="b97dfec0-5bad-47c6-acea-7e46806e3fe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="86a6fc2f-cbfb-404d-8f4c-b11a5d54f64e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a5e0372a-5d14-4566-8b97-d01bf60dd21c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="735492bc-93e7-4793-93be-7773162e5c7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="69bc25b2-c161-47e1-91b4-6a6b2d6e1a9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="d4f2687b-d1f6-46af-9982-522d0288aada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a5b41e1f-7483-4eb6-a6a5-0f9562823e66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="a9dbb3fb-7da4-4f02-ac0d-4335d56ba43c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="96fe9366-f49d-4f19-84fd-cc2d4b04eb87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="5dfdacc2-f93a-471b-9bb0-c2d24df097c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="78e79d60-3730-4bcf-b45b-3b58662fb7ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="6578a88a-4af5-4b36-a17c-8aa744c87de7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="08f5bb68-bf18-41da-9de7-59e7ab60796e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="54e176e6-dd9a-46c7-a895-aae4cbae1a54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="352565ed-d697-42b4-b227-5c7474089062")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="5b56fc39-2448-4fc1-9ed9-9d5627021554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="b976405e-3dee-4b94-942a-f633b86baaaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="8d1f23d3-7945-4a39-b5d0-80c540704b5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="d7503f68-9aed-4b80-85eb-f25f1ce69b6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="f64200f2-fae7-4654-8d63-97624c727213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="12bd0246-3de4-4e74-a64c-6c43e1250dea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="6f2790db-58fc-4e3f-9caa-99bdf55ec2f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a0733063b3ef0dd54bb2ea940099c26", element="9c36c2b0-5550-4760-ba89-dce57165539f")>]

In [207]:
for i in filter_button1:
    if i.text=='Intel Core i9':
        i.click()
        break

In [210]:
Title1=[]
price1=[]
Ratings1=[]
titles1=driver10.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles1[:10]:
    Title1.append(i.text)
prices1=driver10.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices1[:10]:
    price1.append(i.text)
urls1=driver10.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR1=[]
for i in urls1[:10]:
    UR1.append(i.get_attribute('href'))
    
for url1 in UR1:
    driver10.get(url1)
    try:                                                                     
          
            rating=driver10.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
            Ratings1.append(rating.text)
    
    except NoSuchElementException:
         Ratings1.append("NO rating")

In [211]:
print(len(Title1),len(price1),len(Ratings1))

9 8 9

In [214]:
Title1

['ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2070 Super 8GB Graphics, Gaming Laptop (32GB RAM/1TB NVMe SSD/Windows 10/Black/2.35 Kg), G532LWS-HF079T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Silver',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP']

In [215]:
price1

['2,99,325',
 '2,48,790',
 '2,62,990',
 '2,66,990',
 '2,77,490',
 '2,15,990',
 '2,24,990',
 '2,69,900']

In [216]:
price1.insert(6,'-')

In [217]:
price1

['2,99,325',
 '2,48,790',
 '2,62,990',
 '2,66,990',
 '2,77,490',
 '2,15,990',
 '-',
 '2,24,990',
 '2,69,900']

In [229]:
df1=pd.DataFrame({})
df1['Title']=Title
df1['price']=price
df1['Ratings']=Ratings

In [230]:
df1

                                               Title     price       Ratings
0  (Renewed) HP EliteBook 840 G3 Laptop (Core i7 ...    44,999     NO rating
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...    49,999  4.4 out of 5
2  HP 2019 Probook 440 G6 14 Inch HD Business Lap...  1,35,386    5 out of 5
3  Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...  3,43,099  4.3 out of 5
4  (Renewed) Dell Intel 4th Gen Core i7 4600U 14-...    39,999     NO rating
5  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...  1,35,490  4.3 out of 5
6  Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...    97,990     NO rating
7  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    79,980  4.4 out of 5
8  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    96,000    4 out of 5
9  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    47,050  2.9 out of 5

In [231]:
df2=pd.DataFrame({})
df2['Title']=Title1
df2['price']=price1
df2['Ratings']=Ratings1

In [232]:
df2

                                               Title     price       Ratings
0  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,99,325  3.8 out of 5
1  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2,48,790  2.4 out of 5
2  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  2,62,990  3.7 out of 5
3  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...  2,66,990     NO rating
4  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...  2,77,490  4.8 out of 5
5  ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz...  2,15,990  4.2 out of 5
6  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...         -     NO rating
7  Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...  2,24,990  4.2 out of 5
8  HP Z4 Workstation, Intel Core i9-7900X, RAM 32...  2,69,900    5 out of 5

In [235]:
df2.append(df1,ignore_index=True)

                                                Title     price       Ratings
0   ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,99,325  3.8 out of 5
1   Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2,48,790  2.4 out of 5
2   Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  2,62,990  3.7 out of 5
3   ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...  2,66,990     NO rating
4   ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...  2,77,490  4.8 out of 5
5   ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz...  2,15,990  4.2 out of 5
6   (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...         -     NO rating
7   Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...  2,24,990  4.2 out of 5
8   HP Z4 Workstation, Intel Core i9-7900X, RAM 32...  2,69,900    5 out of 5
9   (Renewed) HP EliteBook 840 G3 Laptop (Core i7 ...    44,999     NO rating
10  Mi Notebook Horizon Edition 14 Intel Core i5-1...    49,999  4.4 out of 5
11  HP 2019 Probook 440 G6 14 Inch HD Business Lap...  1,35,386    5 out of 5
12  Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...  3,43,099  4.3 out of 5
13  (Renewed) Dell Intel 4th Gen Core i7 4600U 14-...    39,999     NO rating
14  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...  1,35,490  4.3 out of 5
15  Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...    97,990     NO rating
16  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    79,980  4.4 out of 5
17  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    96,000    4 out of 5
18  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    47,050  2.9 out of 5

# Question 10 Completed.